{% extends "intiSoft/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-offset-6 col-md-6">
        {% include "intiSoft/paginator.html" %}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href={% url createUrl %}>
            <button type="button" class="btn btn-danger"
            {% if add_perm not in user.get_all_permissions %}
            disabled
            {% endif %}>Crear</button>
        </a>
    </div>
    <div class="col-md-12">
        <table class="table table-hover table-pointer row-eq-height">
            <col style="width:5%">
            <col style="width:30%">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:10%">
<!--
            <col style="width:10%">
-->
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:5%">
            <col style="width:5%">
            <col style="width:5%">
            <caption>Planilla de turnos {{ area_value }} </caption>
            <thead>
                {% for name, label, options in fields %}
                    <td>
                        <div class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false"> {{ label }}
                               <span class="caret"></span>
                            </span>
                            <ul id="{{'drop-'|add:forloop.counter}}" class="dropdown-menu">
                                <li><a name="order_by" href="{{ '?order_by='|add:name|add:'&'|add:request.GET.urlencode }}">Orden ascendente</a></li>
                                <li><a name="order_by" href="{{ '?order_by=-'|add:name|add:'&'|add:request.GET.urlencode }}">Orden descendente</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a onclick="seleccionar_todo(form_{{ name }})">Marcar todos</a></li>
                                <li><a onclick="deseleccionar_todo(form_{{ name }})">Desmarcar todos</a></li>
                                <li role="separator" class="divider"></li>
                                <input type="text" class="form-control cbSearch" id="{{name}}-search">
                                <form name="form_{{ name }}" class="form-contact" action="{% url actionUrl %}" method="GET">
                                    <div style="max-height:110px; overflow-y:auto">
                                        {% for option in options %}
                                             <div class="checkbox" style="padding-left:5%">
                                                <label><input type="checkbox" class="cb" name="{{ name }}" value="{{ option }}"
                                                {% if option|add:"_"|add:name in checked_fields %}checked{% endif %}> {{ option }} </label>
                                              </div>
                                        {% endfor %}
                                    </div>
                                    <br/>
                                    <button onclick="submitAll()" type="button" class="btn" style="border: 1px solid grey; margin-left:10px">
                                    Ok
                                </form>
                            </ul>
                        </div>
                    </td>
                {% endfor %}
            <td></td>
            </thead>
            <tbody>
                {% for turno in turno_list %}
                    <tr
                        {% if change_perm in user.get_all_permissions %}
                            onclick="if (trlink) location.href='{% url updateUrl turno.id %}'"
                        {% endif %}
                        class=
                              {% if turno.estado == 'en_espera' %} "neutral {% if turno.revisionar %} overlay {% endif %}"
                                  {% elif turno.estado == 'activo' %} "warning {% if turno.revisionar %} overlay {% endif %}"
                                  {% elif turno.estado == 'finalizado' %} "success"
                                  {% elif turno.estado == 'cancelado' %} "danger"
                              {% endif %}
                        >
                        <td style="text-align: center" {% if turno.alertar %}title="El presupuesto aún no fue aceptado o el instrumento no llegó"{% endif %}>
                            {% if turno.alertar %}
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>{{turno.presupuesto.usuario}}</td>
                        <td>{{turno.fecha_inicio | date }}</td>
                        <td>{{turno.fecha_fin | date }}</td>
                        <td>{{turno.presupuesto.fecha_instrumento | date }}</td>
                        <td>{{turno.presupuesto.fecha_aceptado | date }}</td>
<!--
                        <td>{% for o in turno.ofertatec_linea_set.all %}
                                {{ o.ofertatec.codigo }}
                            {% endfor %}
-->
                        </td>
                        <td>{{turno.presupuesto.codigo}}</td>
                        <td>{% for ot in turno.presupuesto.ot_set.all %}
                                {% if ot.estado != 'cancelado' %}
                                    {{ot.codigo}}</br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Finalizar" data-action="Finalizar"
                                data-model="turno" type="button" class="btn btn-default"
                                data-id={{turno.id}} data-toggle="modal" data-target="#myModal"
                                {% if not turno.presupuesto.fecha_instrumento and not turno.presupuesto.in_situ or turno.estado != 'activo' or finish_perm not in user.get_all_permissions %}
                                    disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Cancelar" data-action="Cancelar"
                                data-model="turno" type="button" class="btn btn-default"
                                data-id={{turno.id}} data-toggle="modal" data-target="#myModal"
                                {% if turno.estado == 'cancelado' or turno.estado == 'finalizado' or cancel_perm not in user.get_all_permissions %}
                                    disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Eliminar" data-action="Eliminar"
                                data-model="turno" type="button" class="btn btn-default"
                                data-id={{turno.id}} data-toggle="modal" data-target="#myModal"
                                {% if delete_perm not in user.get_all_permissions %}
                                disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table style="margin: 0 auto">
            <td><div id="ref" class="alert-neutral">&nbsp;</div>En Espera</td>
            <td><div id="ref" class="alert-warning">&nbsp;</div>Activo</td>
            <td><div id="ref" class="alert-success">&nbsp;</div>Finalizado</td>
            <td><div id="ref" class="alert-danger">&nbsp;</div>Cancelado</td>
        <table>
        <br/>
        <br/>
        {% include "intiSoft/modals.html" with postUrl=postUrl%}
    </div>
</div>
{% endblock %}


