{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
<!--
    <link rel="stylesheet" type="text/css" href="{% static 'intiSoft/css/chosen.min.css' %}"/>
-->
<!--
    <script type="text/javascript" src="{% static 'intiSoft/js/chosen.jquery.min.js' %}"></script>
-->
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.formset.js' %}"></script>
    <script>
        $(function() {
            //$('#id_fecha_inicio').datepicker("option", "minDate", '0');
            $('#id_fecha_inicio').datepicker("option", "onSelect", function(dateText, inst) {
                                                $("#id_fecha_fin").datepicker("option", "defaultDate", dateText);
                                            });
            //$('#id_fecha_fin').datepicker("option", "minDate", '0');
            $('#id_fecha_fin').datepicker("option", "onSelect", function(dateText, inst) {
                                                $("#id_fecha_inicio").datepicker("option", "defaultDate", dateText);
                                        });
        });

        $(function() {
            $(".inline.{{ ofertatec_linea_form.prefix }}").formset({
                prefix: "{{ ofertatec_linea_form.prefix }}",
            })
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <!-- Solo muestro las acciones disponibles si el turno ya fue guardado -->
        {% if object %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if turno.estado == 'activo' and finish_perm in user.get_all_permissions %}
                        {% if turno.presupuesto.fecha_instrumento or turno.presupuesto.in_situ %}
                        <li>
                            <a href="#" data-action="Finalizar" data-model="turno" data-id={{object.id}}
                               data-toggle="modal" data-target="#myModal">Finalizar Turno</a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if delete_perm in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="turno" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar Turno</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if turno.estado != 'cancelado' and turno.estado != 'finalizado' and cancel_perm in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Cancelar" data-model="turno" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Cancelar Turno</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="col-md-9">
        <div class="btn-group" role="group" aria-label="..." style="float:right">
            {% for choice in form.estado.field.choices %}
                <button type="button" class="btn btn-default {% if form.estado.value == choice.0 %}active{% endif %}">
                    {{ choice.1 }}
                </button>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    {% if object.revisionar %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-warning">
            <h3>Revisionar</h3>
            <p>Para generar una nueva revisión del turno se deberá modificar la fecha de inicio del mismo.</p>
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <h2 class="text-danger">Turno
                {% if object.nro_revision > 0 %}
                    rev{{object.nro_revision}}
                {% endif %}
            </h2>
        </div>
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
        <div class="col-md-12">
            <form class="form-horizontal" style="padding-top:5%" action="" method="POST">
                {% csrf_token %}
                <div class="col-md-6">
                    <!-- Estado -->
                    {{ form.estado.as_hidden }}
                    <!-- Fecha de Inicio -->
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                         for="id_fecha_inicio"> Fecha de Inicio </label>
                         <div class="col-md-7">
                            {{ form.fecha_inicio }}
                            {% for error in form.fecha_inicio.errors %}
                                <div class="alert alert-error">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                         </div>
                    </div>
                    <!-- Fecha de Finalizacion Real -->
                    {% if object.estado == 'finalizado' %}
                        <h4><b>Finalizado el {{object.fecha_fin_real | default_if_none:''}}</b><h4>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <!-- Fecha de Fin -->
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                         for="id_fecha_fin"> Fecha de Finalización </label>
                         <div class="col-md-7">
                            {{ form.fecha_fin }}
                            {% for error in form.fecha_fin.errors %}
                                <div class="alert alert-error">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                         </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Area -->
                    {{form.area}}
                </div>
                <div class="col-md-12">
                    <div>
                        <h3 class="text-danger">Oferta Tecnológica</h3>
                        {{ ofertatec_linea_form.management_form }}
                        {{ ofertatec_linea_form.non_form_errors }}
                        <table id="ofertatec_formtable" class="table">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:5%">
                            <col style="width:10%">
                            <col style="width:12%">
                            <thead>
                                <td>Código</td>
                                <td style="display:none">Detalle</td>
                                <td>Tipo De Servicio</td>
                                <td>Cantidad</td>
                                <td>Horas</td>
                                <td>Precio Unitario</td>
                                <td>Observaciones</td>
                            </thead>
                            <tbody>
                                {% for form in ofertatec_linea_form %}
                                        {{ form.id }}
                                    <tr class="inline {{ ofertatec_linea_form.prefix }}">
                                        <td>{{ form.ofertatec }} {{ form.ofertatec.errors }}</td>
                                        <td style="display:none">{{ form.detalle }} {{ form.detalle.errors }}</td>
                                        <td>{{ form.tipo_servicio }} {{ form.tipo_servicio.errors }}</td>
                                        <td>{{ form.cantidad }} {{ form.cantidad.errors }}</td>
                                        <td>{{ form.cant_horas }} {{ form.cant_horas.errors }}</td>
                                        <td>{{ form.precio }} {{ form.precio.errors }}</td>
                                        <td>{{ form.observaciones }} {{ form.observaciones.errors }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Separador -->
                <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
                <div class="col-md-6" id="datos_presup">
                    <h3 class="text-danger">Presupuesto</h3>
                    <!-- Numero de Presupuesto -->
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                         for="id_presupuesto"> Número</label>
                         <div class="col-md-7">
                            {{ form.presupuesto }}
                            {% for error in form.presupuesto.errors %}
                                <div class="alert alert-error">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                         </div>
                    </div>
                    <!-- Fecha de Solicitud del Presupuesto -->
                    <div class="form-group">
                        <label class="col-md-5" style="text-align:left"
                          for="id_presupuesto__fecha_solicitado">
                            Fecha de Solicitud
                        </label>
                        <div class="col-md-6">
                           <p id="id_fecha_solicitado">{{ form.instance.presupuesto.fecha_solicitado }}</p>
                        </div>
                    </div>
                    <!-- Fecha de Realizacion del Presupuesto -->
                    <div class="form-group">
                        <label class="col-md-5" style="text-align:left"
                          for="id_presupuesto__fecha_realizado">
                            Fecha de Realización
                        </label>
                        <div class="col-md-6">
                           <p id="id_fecha_realizado">{{ form.instance.presupuesto.fecha_realizado | default_if_none:""}}</p>
                        </div>
                    </div>
                    <!-- Fecha de Aceptacion del Presupuesto -->
                    <div class="form-group">
                        <label class="col-md-5" style="text-align:left"
                          for="id_presupuesto__fecha_aceptacion">
                            Fecha de Aceptación
                        </label>
                        <div class="col-md-6">
                           <p id="id_fecha_aceptado">{{ form.instance.presupuesto.fecha_aceptado | default_if_none:"" }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5" style="text-align:left"
                          for="id_presupuesto__fecha_instrmento">
                            Llegada del Instrumento
                        </label>
                        <div class="col-md-6">
                           <p id="id_fecha_instrumento">{{ form.instance.presupuesto.fecha_instrumento | default_if_none:""}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" id="datos_usuario">
                    <h3 class="text-danger">Usuario</h3>
                    <!-- Nombre del Usuario -->
                    <div class="form-group">
                        <label class="col-md-5" style="text-align:left"
                          for="id_presupuesto__usuario__nombre">
                            Nombre
                        </label>
                        <div class="col-md-6">
                           <p id="id_usuario">{{ form.instance.presupuesto.usuario.nombre }}</p>
                        </div>
                    </div>
                    <!-- Mail del Usuario -->
                    <div class="form-group">
                        <label class="col-md-5" style="text-align:left"
                          for="id_presupuesto__usuario__mail">
                            Email
                        </label>
                        <div class="col-md-6">
                           <p id="id_mail">{{ form.instance.presupuesto.usuario.mail | default_if_none:""}}</p>
                        </div>
                    </div>
                    <!-- Rubro del Usuario -->
                    <div class="form-group">
                        <label class="col-md-5" style="text-align:left"
                          for="id_presupuesto__usuario__rubro">
                            Rubro
                        </label>
                        <div class="col-md-6">
                           <p id="id_rubro">{{ form.instance.presupuesto.usuario.rubro }}</p>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="col-md-12">
                    {% if form.instance.estado not in "['finalizado', 'cancelado', 'vencido']" %}
                        <div class="col-md-2">
                            <input type="submit" value="Guardar"  class="btn btn-danger">
                        </div>
                    {% endif %}
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" onclick="window.history.back()">
                        Volver</button>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                </div>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <br/>
        <br/>
    </div>
</div>
{% include "intiSoft/modals.html" with postUrl=postUrl %}
{% endblock %}

