{% extends "intiSoft/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-offset-6 col-md-6">
        {% include "intiSoft/paginator.html" %}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href={% url createUrl %}>
            <button type="button" class="btn btn-danger"
            {% if add_perm not in user.get_all_permissions %}
            disabled
            {% endif %}>Crear</button>
        </a>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <form name="searchForm" class="search-bar" action="" method="GET">
            <div class="input-group">
                <div class="input-group-btn">
                    <button id="calendarBtn" type="button"class="btn btn-search btn-default">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </div>
                <input id="searchField" name="search" type="text" class="form-control" data-role="tagsinput">
                <div class="input-group-btn">
                    <button type="submit" value="submit" class="btn btn-search btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-offset-10 col-xs-2 col-xs-offset-10" >
        <a href={% url calendarUrl %}>
            <button type="button" class="btn btn-default btn-calendar" aria-label="Left Align">
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </button>
        </a>
        <a href={% url listUrl %}>
            <button type="button" class="btn btn-default btn-list" aria-label="Left Align">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="turnoTable" class="table table-hover table-pointer row-eq-height">
            <caption>Planilla de turnos {{ area_value }} </caption>
            <thead>
                {% for name, label in fields %}
                    <td>
                        <div class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false"> {{ label }}
                               <span class="caret"></span>
                            </span>
                            <ul id="{{'drop-'|add:forloop.counter}}" class="dropdown-menu">
                                <li><a name="order_by" href="{{ '?order_by='|add:name|add:'&'|add:request.GET.urlencode }}">Orden ascendente</a></li>
                                <li><a name="order_by" href="{{ '?order_by=-'|add:name|add:'&'|add:request.GET.urlencode }}">Orden descendente</a></li>
                            </ul>
                        </div>
                    </td>
                {% endfor %}
            <td></td>
            </thead>
            <tbody>
                {% for turno in turno_list %}
                    <tr
                        {% if change_perm in user.get_all_permissions %}
                            onclick="if (trlink) location.href='{% url updateUrl turno.id %}'"
                        {% endif %}
                        class=
                              {% if turno.estado == 'en_espera' %} "neutral {% if turno.revisionar %} overlay {% endif %}"
                                  {% elif turno.estado == 'activo' %} "warning {% if turno.revisionar %} overlay {% endif %}"
                                  {% elif turno.estado == 'finalizado' %} "success"
                                  {% elif turno.estado == 'cancelado' %} "danger"
                              {% endif %}
                        >
                        <td style="text-align: center" {% if turno.alertar %}title="El presupuesto aún no fue aceptado o el instrumento no llegó"{% endif %}>
                            {% if turno.alertar %}
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>{{turno.presupuesto.usuario}}</td>
                        <td>{{turno.fecha_inicio | date }}</td>
                        <td>{{turno.fecha_fin | date }}</td>
                        <td>{{turno.presupuesto.instrumento_set.last.fecha_llegada | date | default_if_none:""}}</td>
                        <td>{{turno.presupuesto.fecha_aceptado | date }}</td>
                        </td>
                        <td>{{turno.presupuesto.codigo}}</td>
                        <td>{% for ot in turno.presupuesto.ot_set.all %}
                                {% if ot.estado != 'cancelado' %}
                                    {{ot.codigo}}</br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{% for sot in turno.presupuesto.sot_set.all %}
                                {% if sot.estado != 'cancelado' %}
                                    {{sot.codigo}}</br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{% for rut in turno.presupuesto.rut_set.all %}
                                {% if rut.estado != 'cancelada' %}
                                    {{rut.codigo}}</br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Finalizar" data-action="Finalizar"
                                data-model="turno" type="button" class="btn btn-default"
                                data-id={{turno.id}} data-toggle="modal" data-target="#myModal"
                                {% if turno.estado != 'activo' or finish_perm not in user.get_all_permissions %}
                                    disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Cancelar" data-action="Cancelar"
                                data-model="turno" type="button" class="btn btn-default"
                                data-id={{turno.id}} data-toggle="modal" data-target="#myModal"
                                {% if turno.estado == 'cancelado' or turno.estado == 'finalizado' or cancel_perm not in user.get_all_permissions %}
                                    disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Eliminar" data-action="Eliminar"
                                data-model="turno" type="button" class="btn btn-default"
                                data-id={{turno.id}} data-toggle="modal" data-target="#myModal"
                                {% if delete_perm not in user.get_all_permissions %}
                                disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table style="margin: 0 auto">
            <td><div id="ref" class="alert-neutral">&nbsp;</div>En Espera</td>
            <td><div id="ref" class="alert-warning">&nbsp;</div>Activo</td>
            <td><div id="ref" class="alert-success">&nbsp;</div>Finalizado</td>
            <td><div id="ref" class="alert-danger">&nbsp;</div>Cancelado</td>
        <table>
        <br/>
        <br/>
        {% include "intiSoft/modals.html" with postUrl=postUrl%}
    </div>
</div>
{% endblock %}


