<a onclick="viewActivityList()" style="cursor: pointer;"><span id="viewActivityText">Ver actividad reciente</span></a>
<div id="recentActivityBox" class="col-md-12" style="display: none">
    <div id="hline" class="col-md-12"></div>
    <table class="table" id="activityTable">
            {% for row in recent_activity %}
                <tr>
                    <td class="col-md-1">{{ row.datetime|date:'d/m/Y H:i'}}</td>
                    <td class="col-md-5>">
                        <table>
                            <tr>
                                <td><b>{{ row.activity }}</b></td>
                            </tr>
                            <tr>
                                <td><b>Observaciones:</b> {{ row.comments }}</td>
                            </tr>
                            <tr>
                                <td><b>Usuario:</b> {{ row.created_by.username }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
    </table>
</div>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'intiSoft/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>