.delete-row {
    float:right
    }

//tr.overlay:after {
    //cursor: pointer;
    //position: absolute;
    //left:0;
    //width: 100%;
    //height: 100%;
    //content: "REVISIONAR";
    //font-size: 20px;
    //text-align: center;
    //border: 1px solid black;
    //line-height: 50px;
    //background-color: rgba(255,255,255,0.7);
    //display: inline-table
    //}

.overlay:after {
    cursor: pointer;
    position: absolute;
    left:0;
    width: 100%;
    //height: 100%;
    content: "REVISIONAR";
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    line-height: 50px;
    background-color: rgba(255,255,255,0.7);
    display: inline-table
}
//table > tbody > tr.overlay :hover {
    //color: white !important;
//}
.btn-create {
    width: 100%;
}
.table {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  color: black;
  z-index:1;
}
.table#otTable > tbody > tr > td,
.table#otTable > tbody > tr > th,
.table#otTable > thead > tr > td,
.table#otTable > thead > tr > th {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.table > thead {
    font-weight: 500;
}
.table > tbody > tr {
    position: relative;
}
.table > tbody > tr > td {
    font-size: 13px;
    background-clip: padding-box;
    //height:40px;
}
#general_formtable > tbody > tr >  td {
    //padding: 0px
}
#general_formtable > tbody > tr >  td > table > thead > tr > td {
    border: none;
    }
#general_formtable > tbody > tr >  td > table > tbody > tr > td {
    padding: 8px 2px 2px 2px
    }
.alert-neutral {
    background-color: white;
    border-color: #CBCBCB;
}
.neutral {
    background-color: white;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
.table-pointer td {
    font-size: 15px;
    cursor: pointer;
}
.nav-button:hover{
    box-shadow: 0 2px grey;
}
#ref {
    float:left;
    border:1px solid grey;
    margin:0 10px 0 40px;
    width:20px;
    height:20px
}
.bs-callout {
    margin-top: 20px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}
.bs-callout-warning {
    border-left-color: #E3E678;
}
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger > h1,
.bs-callout-danger > h2,
.bs-callout-danger > h3,
.bs-callout-danger > h4 {
  color: #ce4844;
}
.bs-callout-warning > h1,
.bs-callout-warning > h2,
.bs-callout-warning > h3,
.bs-callout-warning > h4 {
    color: #E3E678;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 2;
    color: #777;
    cursor: default;
    background-color: #E7E7E7;
    border-color: #B1B6BA;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857;
    color: #777;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
}
.pagination > li > a:hover {
    color: #777;
}
.truncate {
    display: table;
    table-layout: fixed;
    width: 100%;
}
p.truncated {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
    width: 200px;
    height: 150px;
}

//.datepicker {
//    position: relative; z-index: 100000;
//}

.title {
    padding-right: 0px;
    font: normal 36px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.presup_code, .OT_code {
    border: 0px;
    color: #A94442;
    font: normal 36px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.alert-warning {
    background-color: #F9F199
}

.table > tbody > tr.warning > td {
    background-color: #F9F199
}

.table > tbody > tr.warning:hover > td {
    background-color: #F5EC84;
}

.alert-danger {
    background-color: #CE7070
}

.table > tbody > tr.danger > td {
    background-color: #CE7070
}

.table > tbody > tr.danger:hover > td {
    background-color: #CC6060;
}

.alert-success {
    background-color: #7BCDA3
}

.table > tbody > tr.success > td {
    background-color: #7BCDA3
}

.table > tbody > tr.success:hover > td {
    background-color: #5BC58E;
}

.alert-muted {
    background-color: #D4D4D4;
    border-color: #CBCBCB;
}

.table > tbody > tr.muted > td {
    background-color: #D4D4D4;
}

//select, option {
    //width: 700px;
    //text-overflow:ellipsis;
    //overflow:hidden;
//}

.today {
    background-color: rgba(255, 255, 255, 0.5);
}

table.month {
    background-color: #eee
}

td.mon, td.tue, td.wed, td.thu, td.fri, td.sat, td.sun {
    height: 150px;
    width: 150px
}

th.month {
    font-size: 30px;
    text-align: center;
}

.warning {
    background-color: #F9F199;
    border-top: solid 1px #ddd;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:1px;
    margin: 2px;
}

.danger {
    background-color: #CE7070;
    border-top: solid 1px #ddd;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:1px;
    margin: 2px;
}

.neutral {
    background-color: #fff;
    border-top: solid 1px #ddd;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:1px;
    margin: 2px;
}

.success {
    background-color: #7BCDA3;
    border-top: solid 1px #ddd;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:1px;
    margin: 2px;
}

a, a:visited  {
    color: #000;
    text-decoration: none !important;
}

table.month > tbody > tr > td > ul > li > a,
table.month > tbody > tr > td > ul > li > a:visited,
table.month > tbody > tr > th > a,
table.month > tbody > tr > th > a:visited {
    color: #000;
    text-decoration: none !important;
}

table.month > tbody > tr > td > ul > li > a:hover,
table.month > tbody > tr > th > a:hover {
    color: #000;
    font-weight: bold;
}

.btn-calendar, .btn-list {
    margin-left:3px;
    float: right;
}

.overlay2 > a:after {
    cursor: pointer;
    display: block;
    text-align: center;
    z-index: 2;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    content: "REVISIONAR";
}

ul#id_agentes {
    -moz-column-count: 8;
    -moz-column-gap: 150px;
    -webkit-column-count: 8;
    -webkit-column-gap: 150px;
    column-count: 8;
    column-gap: 150px;
    list-style-type: none
}

input[type=checkbox]
{
  -webkit-appearance:checkbox;
  width: 18px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

a.ref:hover {
    font-weight: bold;
    color: black;
}

.disabled-link {
    pointer-events: none;
}

.input-group.add-disabled,
.input-group.view-disabled {
    cursor: not-allowed;
}

.input-group.add-disabled > a.add-another,
.input-group.view-disabled > a.view {
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
