{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.formset.js' %}"></script>
    <script>
        $(function() {
            $("#id_usuario").val("{{ parent_id }}");

            $("#id_provincia").on('change', function (e) {

                // Actualizo las localidades de la provincia seleccionada
                var url = $("#direccionForm").attr("data-localidades-url");
                var provinciaId = $(this).val();

                $.ajax({
                    url: url,
                    data: { 'provincia': provinciaId },
                    success: function(data) {
                                $("#id_localidad").html(data);
                    }
                });

                $("#id_localidad").trigger('change');

            });
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="row">
    {% if form.errors %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-danger">
            <h3>Error!</h3>
            <strong> Hay problemas con los siguientes campos: </strong><br/>
            <ul>
            {% for key, errors in form.errors.items %}
                {% if key == '__all__' %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% else %}
                    <li>{% get_verbose_name form.instance key %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<h2 class="text-danger">Nueva Direccion</h2>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <form id="direccionForm" class="form-horizontal" style="padding-top:5%" action=""
              method="{% if edit %}POST{% else %}GET{% endif %}" data-localidades-url="{% url 'adm:ajax_load_localidades' %}">
            <div class="col-md-12 col-xs-12">
                {% csrf_token %}

                <input type="hidden" name="_popup" value="1">
                <div class="col-md-6 col-xs-offset-3 col-xs-6">
                    <!-- Usuario -->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-3" style="text-align:left"
                         for="id_usuario">
                            Usuario
                        </label>
                        <div class="col-md-8 col-xs-9">
                            {{ form.usuario | disable }}
                            <input type="hidden" name="usuario" value="{{parent_id}}">
                        </div>
                    </div>
                    <!-- Nombre -->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-3" style="text-align:left"
                         for="id_provincia">
                            Provincia
                        </label>
                        <div class="col-md-8 col-xs-9">
                            {% if edit %}
                                {{ form.provincia }}
                                {% for error in form.provincia.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.provincia | disable }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Localidad -->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-3" style="text-align:left"
                         for="id_localidad">
                            Localidad
                        </label>
                        <div class="col-md-8 col-xs-9">
                            {% if edit %}
                                {{ form.localidad }}
                                {% for error in form.localidad.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.localidad | disable }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Calle -->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-3" style="text-align:left"
                         for="id_calle">
                            Calle
                        </label>
                        <div class="col-md-8 col-xs-9">
                            {% if edit %}
                                {{ form.calle }}
                                {% for error in form.calle.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.calle | disable }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Numero -->
                    <div class="form-group">
                        <label class="control-label col-md-2 col-xs-3" style="text-align:left"
                         for="id_calle">
                            Número
                        </label>
                        <div class="col-md-3 col-xs-4">
                            {% if edit %}
                                {{ form.numero }}
                                {% for error in form.numero.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.numero | disable }}
                            {% endif %}
                        </div>
                        <label class="control-label col-md-2 col-xs-2" style="text-align:left"
                         for="id_piso">
                            Piso
                        </label>
                        <div class="col-md-3 col-xs-3">
                            {% if edit %}
                                {{ form.piso }}
                                {% for error in form.piso.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.piso | disable }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if create %}
    <div class="col-md-2">
        <input type="submit" value="Guardar" class="btn btn-danger" style="float:right" form="direccionForm">
    </div>
    {% endif %}
</div>
{% endblock %}