{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.formset.js' %}"></script>
    <script>
        $(function() {
            $(".datepicker").datepicker("option", "maxDate", '0');
        });

        $(function() {
            {% for form in factura_form %}
                $(".inline.{{ form.nested.0.prefix }}").formset({
                    prefix: "{{form.nested.0.prefix}}",
                })
                $(".inline.{{ form.nested.1.prefix }}").formset({
                    prefix: "{{form.nested.1.prefix}}",
                })
            {% endfor %}
            $(".inline.{{ factura_form.prefix }}").formset({
                prefix: "{{ factura_form.prefix }}",
            });
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <!-- Solo muestro las acciones disponibles si la ot ya fue guardada -->
        {% if object %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if 'adm.delete_ot' in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="ot" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar OT</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.cancel_ot' in user.get_all_permissions and object.estado not in "['pagado', 'cancelado']" %}
                    <li>
                        <a href="#" data-action="Cancelar" data-model="ot" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Cancelar OT</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="col-md-9">
        <div class="btn-group" role="group" aria-label="..." style="float:right">
            {% for choice in form.estado.field.choices %}
                <button class="btn btn-default state {% if form.estado.value == choice.0 %}active{% endif %}">
                    {{ choice.1 }}
                </button>
            {% endfor %}
        </div>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <label id="title" for="id_codigo" class="col-md-1 text-danger" style="text-align:left">OT</label>
            <div class="col-md-2" style="padding-left: 0px;">
                {{ form.codigo }}
            </div>
            <div class="col-md-8" style="float:right">
                {% for error in form.codigo.errors %}
                   <div class="alert alert-error">
                       <strong>{{ error|escape }}</strong>
                   </div>
               {% endfor %}
           </div>
        </div>

        <!-- Separador -->
        <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
        <div class="col-md-12">
            <form id="OTForm" class="form-horizontal" action="" method="POST">
                {% csrf_token %}
                </br>
                </br>
                <div class="col-md-12">
                    <!-- Estado de la OT -->
                    {{ form.estado.as_hidden }}
                    <div class="col-md-6">
                        <h3 class="text-danger">OT</h3>
                        <!-- Fecha de Realizacion -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                             for="id_fecha_realizado">
                                Fecha de Realizacion
                            </label>
                            <div class="col-md-6">
                               {{ form.fecha_realizado }}
                               {% for error in form.fecha_realizado.errors %}
                                   <div class="alert alert-error">
                                       <strong>{{ error|escape }}</strong>
                                   </div>
                               {% endfor %}
                            </div>
                        </div>
                        <!-- Importe -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                              for="id_importe">
                                Importe
                            </label>
                            <div class="col-md-5">
                                <div class="input-group" style="z-index:0">
                                    <div class="input-group-addon">$</div>
                                   {{ form.importe }}
                                </div>
                                {% for error in form.importe.errors %}
                                   <div class="alert alert-error">
                                       <strong>{{ error|escape }}</strong>
                                   </div>
                               {% endfor %}
                            </div>
                        </div>
                        <!-- Fecha de Aviso -->
<!--
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                              for="id_fecha_aviso">
                                Fecha de Aviso
                            </label>
                            <div class="col-md-6">
                               {{ form.fecha_aviso}}
                               {% for error in form.fecha_aviso.errors %}
                                   <div class="alert alert-error">
                                       <strong>{{ error|escape }}</strong>
                                   </div>
                               {% endfor %}
                            </div>
                        </div>
-->
                    </div>
                    <div class="col-md-6"/>
                        <h3 class="text-danger">Presupuesto</h3>
                        <!-- Codigo -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                              for="id_presupuesto">
                                  Numero
                            </label>
                            <div class="col-md-6">
                               {{ form.presupuesto }}
                              {% for error in form.presupuesto.errors %}
                                   <div class="alert alert-error">
                                       <strong>{{ error|escape }}</strong>
                                   </div>
                               {% endfor %}
                            </div>
                        </div>
                        <!-- Area -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                              for="id_presupuesto__area">
                                  Area
                            </label>
                            <div class="col-md-6">
                               <p id="id_presupuesto__area">{{ turno_activo.area }}</p>
                            </div>
                        </div>
                        <!-- Usuario -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                              for="id_presupuesto__usuario__nombre">
                                  Usuario
                            </label>
                            <div class="col-md-6">
                               <p id="id_presupuesto__usuario__nombre">{{ form.instance.presupuesto.usuario.nombre }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Separador -->
                <div class="col-md-12" style="border-top: 1.5px solid #eee"/>

                <div class="col-md-12" />
                    <div>
                        <!-- Facturas -->
                        <h3 class="text-danger">Facturación</h3>
                        <table id="factura_formtable" class="table">
                            {{ factura_form.management_form }}
                            {{ factura_form.non_form_errors }}
                            <thead>
                                <td>Numero</td>
                                <td>Fecha</td>
                                <td>Importe</td>
                            </thead>
                            <tbody>
                                {% for f_form in factura_form %}
                                    {{ f_form.id }}
                                    <tr class="inline {{ factura_form.prefix }}">
                                        <td>{{ f_form.numero }} {{ f_form.numero.errors }}</td>
                                        <td>{{ f_form.fecha }} {{ form.fecha.errors }}</td>
                                        <td>{{ f_form.importe }} {{ f_form.importe.errors }}</td>
                                        <td>
                                            <table id="recibo_formtable" class="table">
                                                {{ f_form.nested.0.management_form }}
                                                {{ f_form.nested.0.non_form_errors }}
                                                <thead>
                                                    <td>Comprobante</td>
                                                    <td>Numero</td>
                                                    <td>Fecha</td>
                                                    <td>Importe</td>
                                                </thead>
                                                <tbody>
                                                    {% for r_form in f_form.nested.0 %}
                                                        {{ r_form.id }}
                                                        <tr class="inline {{ f_form.nested.0.prefix }}">
                                                            <td>{{ r_form.comprobante_cobro }}{{ r_form.comprobante_cobro.errors }}</td>
                                                            <td>{{ r_form.numero }}{{ r_form.numero.errors }}</td>
                                                            <td>{{ r_form.fecha }}{{ r_form.fecha.errors }}</td>
                                                            <td>{{ r_form.importe }}{{ r_form.importe.errors }}</td>
                                                            <td>{% if r_form.instance.pk %}{{ r_form.DELETE }}{% endif %}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table id="remito_formtable" class="table">
                                                {{ f_form.nested.1.management_form }}
                                                {{ f_form.nested.1.non_form_errors }}
                                                <thead>
                                                    <td>Numero</td>
                                                </thead>
                                                <tbody>
                                                    {% for r_form in f_form.nested.1 %}
                                                        {{ r_form.id }}
                                                        <tr class="inline {{ f_form.nested.1.prefix }}">
                                                            <td>{{ r_form.numero }}{{ r_form.numero.errors }}</td>
                                                            <td>{% if r_form.instance.pk %}{{ r_form.DELETE }}{% endif %}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>{% if f_form.instance.pk %}{{ f_form.DELETE }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                </br>
                </br>
                <div class="col-md-12">
                    {% if form.instance.estado not in "['pagado', 'no_pagado']" %}
                        <div class="col-md-2">
                            <input type="submit" value="Guardar"  class="btn btn-danger">
                        </div>
                    {% endif %}
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" onclick="window.history.back()">
                        Volver</button>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                </div>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% url 'adm:ot-list' as action_url %}
{% include "intiSoft/modals.html" with postUrl=action_url %}
{% endblock %}


