{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
    <script>
        var django = {
         "jQuery": $
        };
    </script>
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.mask.min.js' %}"></script>
    <script>

        function renewDatePickers() {
            $(".datepicker").datepicker("destroy");
            $(".datepicker").datepicker({"maxDate": '0'});
        }

        $(renewDatePickers);

        $(function() {

            $("input[id$='ofertatec_old_helper']").addClass('form-control');

            // Para que ande el autocomplete en las nuevas lineas
            function new_line_added(target) {
                // Busco el id correspondiente
                var id = $(target[0]).find("input[id$='ofertatec_old']")[0].id;
                // Elimino el script y lo reemplazo por el id correcto
                $(target[0]).find("script").remove();
                var replaced_script = `<script type='text/javascript'>(function($){$(document).ready(function(){$('#${id}_helper').autocomplete({source:function(request,response){$.ajax({url:domain+'/ofertatec_autocomplete',data:{q:request.term},success:function(data){if(data!='CACHE_MISS'){response($.map(data,function(item){return{label:item[1],value:item[1],real_value:item[0]}}))}},dataType:'json'})},select:function(event,ui){$('#${id}').val(ui.item.real_value)},minLength:3})})})(django.jQuery)<\/script>`;
                // Reemplazo el id tambien en el <a>
                $($(target[0]).find("input[id$='ofertatec_old']")[0]).after(replaced_script);
                var onclick_replaced = $(target[0]).find("a").attr('onclick').replace(/#[\w-]+ofertatec_old/g, `#${id}`)
                $(target[0]).find("a").attr('onclick', onclick_replaced);
            };
        
            var options =  {
              onKeyPress: function(cep, e, field, options) {
                var masks = ['00000-00000000', '00000-00000000/00'];
                var mask = (cep.length>13) ? masks[1] : masks[0];
                $('#id_codigo').mask(mask, options);
            }};

            $("#id_codigo").mask("00000-00000000", options);


            {% for form in factura_form %}
                $(".inline.{{ form.nested.0.prefix }}").formset({
                    prefix: "{{form.nested.0.prefix}}",
                    added: renewDatePickers,
                })
            {% endfor %}
            $(".inline.{{ factura_form.prefix }}").formset({
                prefix: "{{ factura_form.prefix }}",
                added: renewDatePickers,
            });
            $(".inline.{{ remito_form.prefix }}").formset({
                prefix: "{{ remito_form.prefix }}",
                added: renewDatePickers,
            });
            $(".inline.{{ ot_linea_form.prefix }}").formset({
                prefix: "{{ ot_linea_form.prefix }}",
                added: new_line_added,
            });

            {% if object %}
            $.ajax({
                url: domain + '/recent_activity/',
                method: 'get',
                data: {
                        'content_type_id': 15,
                        'object_id': {{ object.id }}
                },
                success:
                    function(data) {
                        $('#recent_activity_table').html(data);
                    },
            });
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="col-md-offset-3 col-md-9">
    <div class="btn-group" role="group" aria-label="..." style="float:right">
        {% for choice in form.estado.field.choices %}
            <button class="btn btn-default state {% if form.estado.value == choice.0 %}active{% endif %}">
                {{ choice.1 }}
            </button>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div id="recent_activity_table" class="col-md-offset-1 col-md-10">
    </div>
</div>
<div class="row">
    {% if form.errors or ot_linea_form.errors or factura_form.errors or remito_form.errors or factura_form.forms.0.nested.0.errors %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-danger">
            <h3>Error!</h3>
            <strong> Hay problemas con los siguientes campos: </strong><br/>
            <ul>
            {% for error in form.errors %}
                <li>{% get_verbose_name form.instance error %}</li>
            {% endfor %}
            {% for form in ot_linea_form.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            {% for form in factura_form.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            {% for form in remito_form.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            {% for form in factura_form.forms.0.nested.0.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <!-- Solo muestro las acciones disponibles si la ot ya fue guardada -->
        {% if object %}
            {% if form.instance.estado not in "['cancelado', 'pagado']" %}
                {% if edit %}
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" class="btn btn-danger" form="OTForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="cancel btn btn-default" href="{% url 'adm:ot-update' object.id %}">
                            Cancelar
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-2">
                        <input type="submit" value="Editar"
                               {% if 'adm.change_ot' not in user.get_all_permissions %}
                               disabled
                               {% endif %}
                               class="btn btn-danger" form="OTForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="btn btn-default" href="{{ back_url }}">
                            Volver
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-md-2" style="padding-left: 0px">
                    <a class="btn btn-default" href="{{ back_url }}">
                        Volver
                    </a>
                </div>
            {% endif %}
            <div class="btn-group col-md-2">
                <button type="button" class="btn btn-default dropdown-toggle
                                            {% if not edit %} disabled {% endif %}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if 'adm.delete_ot' in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="OT" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar OT</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.finish_ot' in user.get_all_permissions and object.estado = 'no_pago' %}
                    <li>
                        <a href="#" data-action="Finalizar" data-model="OT" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Finalizar OT</a>
                    </li>
                    {% endif %}
                    {% if 'adm.cancel_ot' in user.get_all_permissions and object.estado not in "['pagado', 'cancelado']" %}
                    <li>
                        <a href="#" data-action="Cancelar" data-model="OT" data-id={{object.id}}
                           data-toggle="modal" data-target="#textBoxModal">Cancelar OT</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-2">
                <input type="submit" value="Guardar" class="btn btn-danger" form="OTForm">
            </div>
            <div class="col-md-2" style="padding-left: 0px">
                <a class="btn btn-default" href="{{ back_url }}">
                    Volver
                </a>
            </div>
        {% endif %}
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <label id="title" for="id_codigo" class="col-md-1 text-danger" style="text-align:left">OT</label>
            <div class="col-md-2" style="padding-left: 0px;">
                {% if edit %}
                    {{ form.codigo }}
                    {% for error in form.codigo.errors %}
                       <div class="alert alert-error">
                           <strong>{{ error|escape }}</strong>
                       </div>
                    {% endfor %}
                {% else %}
                    {{ form.codigo | disable }}
                {% endif %}
           </div>
        </div>

        <!-- Separador -->
        <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
        <div class="col-md-12">
            <form id="OTForm" class="form-horizontal" action="" method="{% if edit %}POST{% else %}GET{% endif %}">
                {% if edit %}
                    {% csrf_token %}
                {% else %}
                    <input name="edit" type="hidden" value="1">
                {% endif %}
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Estado de la OT -->
                        {% if edit %}
                            {{ form.estado.as_hidden }}
                        {% else %}
                            {{ form.estado.value.as_hidden }}
                        {% endif %}
                        <div class="col-md-6">
                            <h3 class="text-danger">OT</h3>
                            <!-- PDT -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                 for="id_pdt">
                                    Plan de Trabajo
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.pdt }}
                                        {% for error in form.pdt.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.pdt | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Realizacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                 for="id_fecha_realizado">
                                    Fecha de Realizacion
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_realizado }}
                                        {% for error in form.fecha_realizado.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_realizado.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-danger">Presupuesto</h3>
                            <!-- Presea -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_presupuesto__nro_presea">
                                      Nro. Presea
                                </label>
                                <div class="col-md-6">
                                   <p id="id_presupuesto__nro_presea">{{ form.instance.presupuesto.nro_presea }}</p>
                                </div>
                            </div>
                            <!-- Codigo -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_presupuesto__codigo">
                                      Nro. Anexo
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                       {{ form.presupuesto }}
                                       {% for error in form.presupuesto.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.presupuesto.codigo }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Area -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_presupuesto__area">
                                      Area
                                </label>
                                <div class="col-md-6">
                                   <p id="id_presupuesto__area">
                                       {% for turno in turnos_activos %}
                                           {{ turno.area }}</br>
                                       {% endfor %}
                                   </p>
                                </div>
                            </div>
                            <!-- Usuario -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_presupuesto__usuario__nombre">
                                      Usuario
                                </label>
                                <div class="col-md-6">
                                   <p id="id_presupuesto__usuario__nombre">{{ form.instance.presupuesto.usuario.nombre }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Separador -->
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                <br/>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <!-- Centro de Costos -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                             for="id_centro_costos">Centro de Costos</label>
                             <div class="col-md-6">
                                 {% if edit %}
                                     {{ form.centro_costos }}
                                     {% for error in form.centro_costos.errors %}
                                         <div class="alert alert-error">
                                             <strong>{{ error|escape }}</strong>
                                         </div>
                                     {% endfor %}
                                 {% else %}
                                     {{ form.instance.centro_costos | default_if_none:"" }}
                                 {% endif %}
                             </div>
                        </div>
                        <!-- Area Tematica -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                             for="id_area_tematica">Area Temática</label>
                             <div class="col-md-6">
                                 {% if edit %}
                                     {{ form.area_tematica }}
                                     {% for error in form.area_tematica.errors %}
                                         <div class="alert alert-error">
                                             <strong>{{ error|escape }}</strong>
                                         </div>
                                     {% endfor %}
                                 {% else %}
                                     {{ form.instance.area_tematica | default_if_none:"" }}
                                 {% endif %}
                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Horizonte -->
                        <div class="form-group">
                            <label class="control-label col-md-5" style="text-align:left"
                             for="id_horizonte">Horizonte</label>
                             <div class="col-md-6">
                                 {% if edit %}
                                     {{ form.horizonte }}
                                     {% for error in form.horizonte.errors %}
                                         <div class="alert alert-error">
                                             <strong>{{ error|escape }}</strong>
                                         </div>
                                     {% endfor %}
                                 {% else %}
                                     {{ form.horizonte.value | default_if_none:"" }}
                                 {% endif %}
                             </div>
                        </div>
                    </div>
                </div>
                <!-- Separador -->
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                <!-- Separador -->
                <div class="col-md-12">
                    <h3 class="text-danger">Oferta Tecnológica</h3>
                    {% if edit %}
                        {{ ot_linea_form.management_form }}
                        {{ ot_linea_form.non_form_errors }}
                    {% endif %}
                    <table id="ofertatec_formtable" class="table">
                        <col style="width:20%">
                        <col style="width:20%">
                        <col style="width:20%">
                        <col style="width:5%">
                        <col style="width:5%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <thead>
                            <td>Código</td>
                            <td>Detalle</td>
                            <td style="display:none">Detalle</td>
                            <td>Tipo De Servicio</td>
                            <td>Cantidad</td>
                            <td>Horas</td>
                            <td>Precio Unitario</td>
                            <td>Precio Total</td>
                        </thead>
                        <tbody>
                            {% for formOt in ot_linea_form %}
                                {% if edit %}
                                    {{ formOt.id }}
                                {% endif %}
                                <tr {% if form.instance.estado == 'sin_facturar' %}
                                    class="inline {{ ot_linea_form.prefix }}"
                                    {% endif %}>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.ofertatec }} {{ formOt.ofertatec.errors }}
                                        {% else %}
                                            {{ formOt.instance.codigo }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.ofertatec_old }} {{ formOt.ofertatec_old.errors }}
                                        {% else %}
                                            {{ formOt.instance.ofertatec_old | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td style="display:none">
                                        {% if edit %}
                                            {{ formOt.codigo }} {{ formOt.codigo.errors }}
                                        {% else %}
                                            {{ formOt.instance.codigo}}
                                        {% endif %}
                                    </td>
                                    <td style="display:none">
                                        {% if edit %}
                                            {{ formOt.detalle }} {{ formOt.detalle.errors }}
                                        {% else %}
                                            {{ formOt.instance.detalle }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.tipo_servicio }} {{ formOt.tipo_servicio.errors }}
                                        {% else %}
                                            {{ formOt.instance.tipo_servicio | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.cantidad }} {{ formOt.cantidad.errors }}
                                        {% else %}
                                            {{ formOt.instance.cantidad }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.cant_horas }} {{ formOt.cant_horas.errors }}
                                        {% else %}
                                            {{ formOt.instance.cant_horas | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.precio }} {{ formOt.precio.errors }}
                                        {% else %}
                                            {{ formOt.instance.precio | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.precio_total }} {{ formOt.precio_total.errors }}
                                        {% else %}
                                            {{ formOt.instance.precio_total | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit and form.instance.estado == 'sin_facturar' %}
                                            {% if form.instance.pk %}
                                                {{ formOt.DELETE }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
<!--
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
-->
                <!-- Importe Bruto -->
                <div class="col-md-5" style="float:right">
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                          for="id_importe_bruto">
                            Importe Bruto
                        </label>
                        <div class="col-md-5">
                            <div class="input-group" style="z-index:0">
                                {% if edit %}
                                    <div class="input-group-addon">$</div>
                                   {{ form.importe_bruto }}
                                   {% for error in form.importe_bruto.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                               {% else %}
                                   $
                                   {{ form.importe_bruto.value | floatformat }}
                               {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                          for="id_descuento">
                            Descuento
                        </label>
                        <div class="col-md-5">
                            <div class="input-group" style="z-index:0">
                                {% if edit %}
                                    <div class="input-group-addon">$</div>
                                   {{ form.descuento }}
                                   {% for error in form.descuento.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                               {% else %}
                                   $
                                   {{ form.descuento.value | floatformat }}
                               {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                          for="id_importe_neto">
                            Importe Neto
                        </label>
                        <div class="col-md-5">
                            <div class="input-group" style="z-index:0">
                                {% if edit %}
                                    <div class="input-group-addon">$</div>
                                   {{ form.importe_neto }}
                                   {% for error in form.importe_neto.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                               {% else %}
                                   $
                                   {{ form.importe_neto.value | floatformat }}
                               {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                <div class="col-md-12">
                    <!-- Facturas -->
                    <h3 class="text-danger">Facturacion</h3>
                    <table id="general_formtable" class="table">
                        {% if edit %}
                            {{ factura_form.management_form }}
                            {{ factura_form.non_form_errors }}
                        {% endif %}
                        <col style="width:50%">
                        <col style="width:50%">
                        <thead>
                            <td><b>Facturacion</b></td>
                            <td><b>Gestion de cobro</b></td>
                        </thead>
                        <tbody>
                            {% for f_form in factura_form %}
                                <tr class="inline {{ factura_form.prefix }}">
                                    {% if edit %}
                                        {{ f_form.id }}
                                    {% else %}
                                        {{ f_form.id.value.as_hidden }}
                                    {% endif %}
                                    {% if edit %}
                                        {{ f_form.estado }}
                                    {% else %}
                                        {{ f_form.estado.value.as_hidden }}
                                    {% endif %}
                                    <td>
                                        <table id="factura_formtable" class="table">
                                            <col style="width:20%">
                                            <col style="width:20%">
                                            <col style="width:20%">
                                            <col style="width:20%">
                                            <thead>
                                                <td>Numero</td>
                                                <td>Fecha</td>
                                                <td>Importe</td>
                                                <td>Fecha Aviso</td>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        {% if edit %}
                                                            {{ f_form.numero }} {{ f_form.numero.errors }}
                                                        {% else %}
                                                            {{ f_form.numero.value | default_if_none:"" }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if edit %}
                                                            {{ f_form.fecha }} {{ f_form.fecha.errors }}
                                                        {% else %}
                                                            {{ f_form.fecha.value | default_if_none:""}}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="input-group" style="z-index:0">
                                                            {% if edit %}
                                                                <div class="input-group-addon">$</div>
                                                                {{ f_form.importe }} {{ f_form.importe.errors }}
                                                            {% else %}
                                                                $
                                                                {{ f_form.importe.value | floatformat }}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {% if edit %}
                                                            {{ f_form.fecha_aviso }} {{ f_form.fecha_aviso.errors }}
                                                        {% else %}
                                                            $
                                                            {{ f_form.fecha_aviso.value | default_if_none:""}}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% if edit %}
                                                    {% if f_form.errors %}
                                                        {% for error in f_form.non_field_errors %}
                                                            <div class="alert alert-error">
                                                                <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table id="recibo_formtable" class="table">
                                            {% if edit %}
                                                {{ f_form.nested.0.management_form }}
                                                {{ f_form.nested.0.non_form_errors }}
                                            {% endif %}
                                            <col style="width:1%">
                                            <col style="width:13%">
                                            <col style="width:19%">
                                            <col style="width:19%">
                                            <thead>
                                                <td>Comprobante</td>
                                                <td>Numero</td>
                                                <td>Fecha</td>
                                                <td>Importe</td>
                                                <td>Observaciones</td>
                                            </thead>
                                            <tbody>
                                                {% for r_form in f_form.nested.0 %}
                                                    {% if edit %}
                                                        {{ r_form.id }}
                                                    {% endif %}
                                                    <tr class="inline {{ f_form.nested.0.prefix }}">
                                                        <td>
                                                            {% if edit %}
                                                                {{ r_form.comprobante_cobro }} {{ r_form.comprobante_cobro.errors }}
                                                            {% else %}
                                                                {{ r_form.comprobante_cobro.value | default_if_none:"" }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if edit %}
                                                                {{ r_form.numero }} {{ r_form.numero.errors }}
                                                            {% else %}
                                                                {{ r_form.numero.value | default_if_none:"" }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if edit %}
                                                                {{ r_form.fecha }} {{ r_form.fecha.errors }}
                                                            {% else %}
                                                                {{ r_form.fecha.value | default_if_none:"" }}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <div class="input-group" style="z-index:0">
                                                                {% if edit %}
                                                                    <div class="input-group-addon">$</div>
                                                                    {{ r_form.importe }} {{ r_form.importe.errors }}
                                                                {% else %}
                                                                    $
                                                                    {{ r_form.importe.value | floatformat }}
                                                                {% endif %}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            {% if edit %}
                                                                {{ r_form.observaciones }} {{ r_form.observaciones.errors }}
                                                            {% else %}
                                                                {{ r_form.observaciones.value | default_if_none:"" }}
                                                            {% endif %}
                                                            {% if edit %}
                                                                {% if r_form.instance.pk %}
                                                                    {{ r_form.DELETE }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% if edit %}
                                                        {% if r_form.errors %}
                                                            {% for error in r_form.non_field_errors %}
                                                                <div class="alert alert-error">
                                                                    <strong>{{ error|escape }}</strong>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {% if f_form.instance.pk %}
                                                {{ f_form.DELETE }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                <div class="col-md-5">
                    <!-- Remitos -->
                    <h3 class="text-danger">Retiros</h3>
                    <table id="remito_formtable" class="table">
                        {% if edit %}
                            {{ remito_form.management_form }}
                            {{ remito_form.non_form_errors }}
                        {% endif %}
                        <col style="width:40%">
                        <col style="width:50%">
                        <thead>
                            <td>Numero</td>
                            <td>Fecha</td>
                        </thead>
                        <tbody>
                            {% for r_form in remito_form %}
                                {% if edit %}
                                    {{ r_form.id }}
                                {% endif %}
                                <tr class="inline {{ remito_form.prefix }}">
                                    <td>
                                        {% if edit %}
                                            {{ r_form.numero }} {{ r_form.numero.errors }}
                                        {% else %}
                                            {{ r_form.numero.value | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ r_form.fecha }} {{ r_form.fecha.errors }}
                                        {% else %}
                                            {{ r_form.fecha.value | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {% if r_form.instance.pk %}
                                                {{ r_form.DELETE }}
                                            {% endif %}
                                            {% if r_form.errors %}
                                                {% for error in r_form.non_field_errors %}
                                                    <div class="alert alert-error">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </br>
                </br>
                {% if edit %}
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-error">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% url 'adm:ot-list' as action_url %}
{% include "intiSoft/modals.html" with postUrl=action_url %}
{% endblock %}


