{% extends "intiSoft/base.html" %}
{% block content %}
{% load intiSoft_filters %}
<div class="row">
    <div class="col-md-offset-6 col-md-6">
        {% include "intiSoft/paginator.html" %}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="{% url 'adm:otml-create' %}">
            <button type="button" class="btn btn-danger"
            {% if 'adm.add_otml' not in user.get_all_permissions %}
            disabled
            {% endif %}>Crear</button>
        </a>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <form name="searchForm" class="search-bar" action="" method="GET">
            <div class="input-group">
                <div class="input-group-btn">
                    <button id="calendarBtn" type="button"class="btn btn-search btn-default">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </div>
                <input id="searchField" name="search" type="text" class="form-control" data-role="tagsinput">
                <div class="input-group-btn">
                    <button type="submit" value="submit" class="btn btn-search btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <table id="otTable" class="table table-hover table-pointer">
            <caption>Planilla de OTs de Metrología Legal</caption>
            <thead>
                {% for name, label in fields %}
                    <td>
                        <div class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false"> {{ label }}
                               <span class="caret"></span>
                            </span>
                            <ul id="{{'drop-'|add:forloop.counter}}" class="dropdown-menu">
                                <li><a name="order_by" href="{{ '?order_by='|add:name|add:'&'|add:request.GET.urlencode }}">Orden ascendente</a></li>
                                <li><a name="order_by" href="{{ '?order_by=-'|add:name|add:'&'|add:request.GET.urlencode }}">Orden descendente</a></li>
                            </ul>
                        </div>
                    </td>
                {% endfor %}
            <td></td>
            <td></td>
            <td></td>
            </thead>
            <tbody>
                {% for otml in otml_list %}
                        <tr
                            {% if 'adm.change_otml' in user.get_all_permissions %}
                                onclick="if (trlink) {location.href='{% url 'adm:otml-update' otml.id %}'}"
                            {% endif %}
                            class = {% if otml.estado == 'sin_facturar' %} "neutral"
                                      {% elif otml.estado == 'pagado' %} "success"
                                      {% elif otml.estado == 'no_pago' %} "warning"
                                      {% elif otml.estado == 'cancelado' %} "danger"
                                    {% endif %}
                        >
                        <td style="text-align: center">{% if otml.estado = 'sin_facturar' %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
                        <td>{{ otml.codigo }}</td>
                        <td>{{ otml.fecha_realizado | date | default_if_none:"" }}</td>
                        <td>${{ otml.importe_bruto | floatformat }}</td>
                        <!-- FACTURAS -->
                        <td>
                            {% for f in otml.factura_set.all %}
                                {% if not f.recibo_set.all %}
                                    {{ f.numero }}</br>
                                {% endif %}
                                {% for r in f.recibo_set.all %}
                                    {{ f.numero }}</br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for f in otml.factura_set.all %}
                                {% if not f.recibo_set.all %}
                                    {{ f.fecha | date | default_if_none:"" }}</br>
                                {% endif %}
                                {% for r in f.recibo_set.all %}
                                    {{ f.fecha | date | default_if_none:"" }}</br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for f in otml.factura_set.all %}
                                {% if not f.recibo_set.all %}
                                    ${{ f.importe | floatformat }}</br>
                                {% endif %}
                                {% for r in f.recibo_set.all %}
                                    ${{ f.importe | floatformat }}</br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for f in otml.factura_set.all %}
                                {{ f.fecha_aviso | date | default_if_none:"" }}</br>
                            {% endfor %}
                        </td>
                        <!-- RECIBOS -->
                        <td>
                            {% for f in otml.factura_set.all %}
                                {% if not f.recibo_set.all %}
                                    </br>
                                {% endif %}
                                {% for r in f.recibo_set.all %}
                                    {{ r.numero }}</br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for f in otml.factura_set.all %}
                                {% if not f.recibo_set.all %}
                                    </br>
                                {% endif %}
                                {% for r in f.recibo_set.all %}
                                    {% if r.comprobante_cobro == 'recibo' %}
                                        R</br>
                                    {% endif %}
                                    {% if r.comprobante_cobro == 'nota_credito' %}
                                        NC</br>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for f in otml.factura_set.all %}
                                {% if not f.recibo_set.all %}
                                    </br>
                                {% endif %}
                                {% for r in f.recibo_set.all %}
                                    {{ r.fecha | date | default_if_none:""}}</br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for f in otml.factura_set.all %}
                                {% if not f.recibo_set.all %}
                                    </br>
                                {% endif %}
                                {% for r in f.recibo_set.all %}
                                    ${{ r.importe  | floatformat }}</br>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Finalizar" data-action="Finalizar"
                                data-model="OT-ML" type="button" class="btn btn-default"
                                data-id={{otml.id}} data-toggle="modal" data-target="#myModal"
                                {% if otml.estado != "no_pago" or 'adm.finish_otml' not in user.get_all_permissions  %}
                                    disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Cancelar" data-action="Cancelar"
                                data-model="OT-ML" type="button" class="btn btn-default"
                                data-id={{otml.id}} data-toggle="modal" data-target="#myModal"
                                {% if otml.estado in "['pagado', 'cancelado']" or 'adm.cancel_otml' not in user.get_all_permissions  %}
                                    disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>
                            <button onclick="trlink=false;" title="Eliminar" data-action="Eliminar"
                                data-model="OT-ML" type="button" class="btn btn-default"
                                data-id={{otml.id}} data-toggle="modal" data-target="#myModal"
                                {% if 'adm.delete_otml' not in user.get_all_permissions %}
                                    disabled
                                {% endif %}>
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table style="margin: 0 auto">
            <td><div id="ref" class="alert-neutral">&nbsp;</div>Sin Facturar</td>
            <td><div id="ref" class="alert-warning">&nbsp;</div>No Pago</td>
            <td><div id="ref" class="alert-success">&nbsp;</div>Pagado</td>
            <td><div id="ref" class="alert-danger">&nbsp;</div>Cancelado</td>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-6 col-md-6">
        {% include "intiSoft/paginator.html" %}
    </div>
</div>
<br/>
<br/>
{% include "intiSoft/modals.html" %}
{% endblock %}



