{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
    <script>
        $(function() {
          //$(".datepicker").datepicker("option", "maxDate", '0');
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="row">
    <div class="col-md-offset-3 col-md-9">
        <div class="btn-group" role="group" aria-label="..." style="float:right">
            {% for choice in form.estado.field.choices %}
                <button class="btn btn-default state {% if form.estado.value == choice.0 %}active{% endif %}">
                    {{ choice.1 }}
                </button>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    {% if object.estado == 'borrador' %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-warning">
            <h3>Cuidado!</h3>
            <p>Una vez seteada la <b>Fecha de Aceptación</b> el presupuesto pasará a estado <b>Aceptado</b>
            y sólo quedarán editables los campos <b>Llegada del Instrumento</b> y <b>Fecha de Realización</b></p>
        </div>
    {% endif %}
    {% if object.revisionar %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-warning">
            <h3>El presupuesto debe ser revisionado.</h3>
            <p>
                Para generar una nueva revisión del presupuesto: </br></br>
                <b>1.</b> Presione Editar. </br>
                <b>2.</b> Vaya a Acciones -> Revisionar. </br>
                <b>3.</b> Modifique el presupuesto y luego presione Guardar.
            </p>
        </div>
    {% endif %}
</div>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <!-- Solo muestro las acciones disponibles si el presupuesto ya fue guardado -->
        {% if object %}
            {% if form.instance.estado in "['borrador', 'aceptado']" %}
                {% if revision %}
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" class="btn btn-danger" form="presupForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="cancel btn btn-default" href="#" onclick="rollBackPresupuesto()">
                            Cancelar
                        </a>
                    </div>
                {% elif edit %}
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" class="btn btn-danger" form="presupForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="cancel btn btn-default" href="{% url 'adm:presup-update' object.id %}">
                            Cancelar
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-2">
                        <input type="submit" value="Editar" class="btn btn-danger" form="presupForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="btn btn-default" href="{% url 'adm:presup-list' %}">
                            Volver
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="btn-group col-md-2">
                <button type="button" class="btn btn-default dropdown-toggle
                                         {% if not edit %} disabled {% endif %}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if 'adm.delete_presupuesto' in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="presupuesto" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar Presupuesto</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.finish_presupuesto' in user.get_all_permissions and object.estado == 'en_proceso_de_facturacion'%}
                    <li>
                        <a href="#" data-action="Finalizar" data-model="presupuesto" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Finalizar Presupuesto</a>
                    </li>
                    {% endif %}
                    {% if 'adm.cancel_presupuesto' in user.get_all_permissions and object.estado in "['borrador', 'aceptado', 'en_proces_de_facturacion']" %}
                    <li>
                        <a href="#" data-action="Cancelar" data-model="presupuesto" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Cancelar Presupuesto</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.add_presupuesto' in user.get_all_permissions %}
                    <li>
                        <a id="viewWord" href="{% url 'adm:presup-viewWord' object.id %}" data-id="{{object.id}}">Generar Presupuesto</a>
                    </li>
                    {% endif %}
                    {% if object.estado in "['borrador', 'aceptado']" %}
                    <li>
                        <a href="#" data-action="Revisionar" data-model="presupuesto" data-id={{object.id}}
                           data-toggle="modal" data-target="#revWarning">Revisionar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-2">
                <input type="submit" value="Guardar" class="btn btn-danger" form="presupForm">
            </div>
        {% endif %}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <label id="title" for="id_codigo" class="col-md-3 text-danger" style="text-align:left">Presupuesto</label>
            <div class="col-md-6" style="padding-left: 0px;">
                {% if edit %}
                    {{ form.codigo }}
                    {% for error in form.codigo.errors %}
                       <div class="alert alert-error">
                           <strong>{{ error|escape }}</strong>
                       </div>
                   {% endfor %}
               {% else %}
                   {{ form.codigo | disable }}
               {% endif %}
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" >
                <a href="#{{ object.nro_revision }}" aria-controls="{{ object.nro_revision }}" role="tab" data-toggle="tab">
                    REV{{ object.nro_revision }}
                </a>
            </li>
            {% for pv, tv, uv, ov in presupVersions %}
                <li role="presentation">
                    <a href="#{{ pv.revision.comment }}" aria-controls="{{ pv.revision.comment }}" role="tab" data-toggle="tab">
                        {{ pv.revision.comment | revName }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="{{ object.nro_revision }}">
                <div class="col-md-12">
                    <form id="presupForm" class="form-horizontal" action="" method="{% if edit %}POST{% else %}GET{% endif %}">
                        {% if edit %}
                            {% csrf_token %}
                        {% else %}
                            <input name="edit" type="hidden" value="1">
                        {% endif %}
                        </br>
                        </br>
                        <div class="col-md-6">
                            <!-- Estado del Presupuesto -->
                            {%if edit %}
                                {{ form.estado.as_hidden }}
                            {% else %}
                                {{ form.estado.value.as_hidden }}
                            {% endif %}
                            <!-- Nro Revision -->
                            {% if edit %}
                               {{ form.nro_revision.as_hidden }}
                           {% else %}
                               {{ form.nro_revision.value.as_hidden }}
                           {% endif %}
                            <!-- Revisionar -->
                            {% if edit %}
                               {{ form.revisionar.as_hidden }}
                           {% else %}
                               {{ form.revisionar.value.as_hidden }}
                           {% endif %}
                            <!-- Fecha de Solicitud -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                 for="id_fecha_solicitud">
                                    Fecha de Solicitud
                                </label>
                                <div class="col-md-6">
                                   {% if edit %}
                                       {{ form.fecha_solicitado }}
                                       {% for error in form.fecha_solicitado.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                   {% else %}
                                       {{ form.fecha_solicitado.value | default_if_none:"" }}
                                   {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Realizacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_fecha_realizado">
                                    Fecha de Realización
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_realizado }}
                                        {% for error in form.fecha_realizado.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_realizado.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Aceptacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_fecha_aceptado">
                                    Fecha de Aceptación
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_aceptado }}
                                        {% for error in form.fecha_aceptado.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_aceptado.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Fecha de Instrumento -->
                            <div class="form-group">
                                <label class="control-label col-md-6" style="text-align:left"
                                  for="id_fecha_instrumento">
                                    Llegada del Instrumento
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_instrumento }}
                                        {% for error in form.fecha_instrumento.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_instrumento.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Nro Recibo Recepcion -->
                            <div class="form-group">
                                <label class="control-label col-md-6" style="text-align:left"
                                  for="id_nro_recibo">
                                    Recibo de Recepcion
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.nro_recepcion }}
                                        {% for error in form.nro_recepcion.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.nro_recepcion.value }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Separador -->
                        <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                        <div class="col-md-6">
                            <h3 class="text-danger">Turno
                                {% if turno_activo.nro_revision > 0 %}
                                    rev{{ turno_activo.nro_revision }}
                                {% endif %}
                            </h3>
                            <!-- Fecha de Inicio -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id__turno_fecha_inicio">
                                      Fecha de Inicio
                                </label>
                                <div class="col-md-6">
        <!--
                                   {{ turno_activo.fecha_inicio | less_five | default_if_none:'' }}
        -->
                                   {{ turno_activo.fecha_inicio | default_if_none:'' }}
                                </div>
                            </div>
                            <!-- Fecha de Finalizacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id__turno_fecha_fin">
                                      Fecha de Finalización
                                </label>
                                <div class="col-md-6">
        <!--
                                   {{ turno_activo.fecha_fin | plus_five | default_if_none:'' }}
        -->
                                   {{ turno_activo.fecha_fin | default_if_none:'' }}
                                </div>
                            </div>
                             <!-- Cantidad -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id__turno_cantidad">
                                      Cantidad
                                </label>
                                <div class="col-md-6">
                                   {{ turno_activo.cantidad }}
                                </div>
                            </div>
                             <!-- Observaciones -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id__turno_observaciones">
                                      Observaciones
                                </label>
                                <div class="col-md-6">
                                   {{ turno_activo.observaciones }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-danger">Usuario</h3>
                            <!-- Usuario -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_usuario">
                                      Usuario
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.usuario }}
                                        {% for error in form.usuario.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.usuario.nombre }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Numero de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__nro_usuario">
                                    Número
                                </label>
                                <div class="col-md-6">
                                   <p id="id_nro_usuario">{{ form.instance.usuario.nro_usuario }}</p>
                                </div>
                            </div>
                            <!-- Cuit de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__cuit">
                                    Cuit
                                </label>
                                <div class="col-md-6">
                                   <p id="id_cuit">{{ form.instance.usuario.cuit }}</p>
                                </div>
                            </div>
                            <!-- Rubro de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__rubro">
                                    Rubro
                                </label>
                                <div class="col-md-6">
                                   <p id="id_rubro">{{ form.instance.usuario.rubro }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
                        </br>
                        <div id="plantilla" class="col-md-12">
                            <label class="col-md-2" style="text-align:left"
                                 for="id_asistencia">Asistencia</label>
                                                <div class="col-md-1">
                                {% if edit %}
                                    {{ form.asistencia }}
                                    {% for error in form.asistencia.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                {% else %}
                                    {{ form.asistencia|disable }}
                                {% endif %}
                            </div>
                            <label class="col-md-2" style="text-align:left"
                                 for="id_calibracion">Calibración</label>
                            <div class="col-md-1">
                                {% if edit %}
                                    {{ form.calibracion }}
                                   {% for error in form.calibracion.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                {% else %}
                                    {{ form.calibracion|disable }}
                                {% endif %}
                            </div>
                            <label class="col-md-2" style="text-align:left"
                                 for="id_in_situ">In Situ</label>
                            <div class="col-md-1">
                                {% if edit %}
                                    {{ form.in_situ }}
                                    {% for error in form.in_situ.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                {% else %}
                                    {{ form.in_situ|disable }}
                                {% endif %}
                            </div>
                            <label class="col-md-2" style="text-align:left"
                                 for="id_lia">LIA</label>
                            <div class="col-md-1">
                                {% if edit %}
                                    {{ form.lia }}
                                    {% for error in form.lia.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                {% else %}
                                    {{ form.lia|disable }}
                                {% endif %}
                            </div>
                           {% for error in form.asistencia.errors %}
                               <div class="alert alert-error">
                                   <strong>{{ error|escape }}</strong>
                               </div>
                           {% endfor %}
                           {% for error in form.calibracion.errors %}
                               <div class="alert alert-error">
                                   <strong>{{ error|escape }}</strong>
                               </div>
                           {% endfor %}
                           {% for error in form.in_situ.errors %}
                               <div class="alert alert-error">
                                   <strong>{{ error|escape }}</strong>
                               </div>
                           {% endfor %}
                           {% for error in form.lia.errors %}
                               <div class="alert alert-error">
                                   <strong>{{ error|escape }}</strong>
                               </div>
                           {% endfor %}
                        </div>
                        </br>
                        </br>
                        <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                            <h3 class="text-danger">Oferta Tecnológica</h3>
                                <a class="btn btn-default
                                    {% if not edit or form.instance.estado not in "['borrador', 'aceptado']" %}
                                        disabled
                                    {% endif %}"
                                    id="actBtn" data-action="Actualizar"
                                    data-model="presupuesto" data-id={{object.id}}
                                    data-toggle="modal" data-target="#myModal"
                                    >Actualizar Precios
                                </a>
                            <div class="col-md-12">
                                <table id="ofertatec_table" class="table">
                                    <thead>
                                        <td>Código</td>
                                        <td>Detalle</td>
                                        <td>Tipo de Servicio</td>
                                        <td>Cantidad</td>
                                        <td>Observaciones</td>
                                        <td>Horas</td>
                                        <td>Precio Unitario</td>
                                        <td>Precio Total</td>
                                    </thead>
                                    <tbody>
                                        {% for t in turno_activo.ofertatec_linea_set.all %}
                                            <tr>
                                                <td>{{ t.ofertatec }}</td>
                                                <td>{{ t.detalle}}</td>
                                                <td>{{ t.tipo_servicio}}</td>
                                                <td>{{ t.cantidad }}</td>
                                                <td>{{ t.observaciones }}</td>
                                                <td>{{ t.cant_horas | default_if_none:""}}</td>
                                                <td>{{ t.precio }}</td>
                                                <td>{{ t.precio_total }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
        <!--
                            <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
                            <div style="float:right" id="total">
                                <h3>Total {{total}}</h3>
                            </div>
        -->
                        </div>
                        {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-error">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
            {% for pv, tActv, uv, otList in presupVersions %}
                <div role="tabpanel" class="tab-pane" id="{{ pv.revision.comment }}">
                    <div class="col-md-12">
                        <form class="form-horizontal" action="" method="">
                            </br>
                            </br>
                            <div class="col-md-6">
                                <!-- Fecha de Solicitud -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                     for="id_fecha_solicitud">
                                        Fecha de Solicitud
                                    </label>
                                    <div class="col-md-6">
                                       {{ pv.field_dict.fecha_solicitado | default_if_none:"" }}
                                    </div>
                                </div>
                                <!-- Fecha de Realizacion -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                      for="id_fecha_realizado">
                                        Fecha de Realización
                                    </label>
                                    <div class="col-md-6">
                                        {{ pv.field_dict.fecha_realizado | default_if_none:"" }}
                                    </div>
                                </div>
                                <!-- Fecha de Aceptacion -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                      for="id_fecha_aceptado">
                                        Fecha de Aceptación
                                    </label>
                                    <div class="col-md-6">
                                        {{ pv.field_dict.fecha_aceptado | default_if_none:"" }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Fecha de Instrumento -->
                                <div class="form-group">
                                    <label class="control-label col-md-6" style="text-align:left"
                                      for="id_fecha_instrumento">
                                        Llegada del Instrumento
                                    </label>
                                    <div class="col-md-6">
                                        {{ pv.field_dict.fecha_instrumento | default_if_none:"" }}
                                    </div>
                                </div>
                                <!-- Nro Recibo Recepcion -->
                                <div class="form-group">
                                    <label class="control-label col-md-6" style="text-align:left"
                                      for="id_nro_recibo">
                                        Recibo de Recepcion
                                    </label>
                                    <div class="col-md-6">
                                        {{ pv.field_dict.nro_recepcion }}
                                    </div>
                                </div>
                            </div>
                            <!-- Separador -->
                            <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                            <div class="col-md-6">
                                <h3 class="text-danger">Turno
                                    {% if tActv.0.field_dict.nro_revision > 0 %}
                                        rev{{ tActv.field_dict.nro_revision }}
                                    {% endif %}
                                </h3>
                                <!-- Fecha de Inicio -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                      for="id__turno_fecha_inicio">
                                          Fecha de Inicio
                                    </label>
                                    <div class="col-md-6">
                                       {{ tActv.0.field_dict.fecha_inicio | default_if_none:'' }}
                                    </div>
                                </div>
                                <!-- Fecha de Finalizacion -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                      for="id__turno_fecha_fin">
                                          Fecha de Finalización
                                    </label>
                                    <div class="col-md-6">
            <!--
                                       {{ turno_activo.fecha_fin | plus_five | default_if_none:'' }}
            -->
                                       {{ tActv.0.field_dict.fecha_fin | default_if_none:'' }}
                                    </div>
                                </div>
                                 <!-- Cantidad -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                      for="id__turno_cantidad">
                                          Cantidad
                                    </label>
                                    <div class="col-md-6">
                                       {{ tActv.0.field_dict.cantidad }}
                                    </div>
                                </div>
                                 <!-- Observaciones -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                      for="id__turno_observaciones">
                                          Observaciones
                                    </label>
                                    <div class="col-md-6">
                                       {{ tActv.0.field_dict.observaciones }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-danger">Usuario</h3>
                                <!-- Usuario -->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="text-align:left"
                                      for="id_usuario">
                                          Usuario
                                    </label>
                                    <div class="col-md-6">
                                        {{ uv.0.field_dict.nombre }}
                                    </div>
                                </div>
                                <!-- Numero de Usuario -->
                                <div class="form-group">
                                    <label class="col-md-5" style="text-align:left"
                                      for="id_usuario__nro_usuario">
                                        Número
                                    </label>
                                    <div class="col-md-6">
                                       <p id="id_nro_usuario">
                                           {{ uv.0.field_dict.nro_usuario }}
                                       </p>
                                    </div>
                                </div>
                                <!-- Cuit de Usuario -->
                                <div class="form-group">
                                    <label class="col-md-5" style="text-align:left"
                                      for="id_usuario__cuit">
                                        Cuit
                                    </label>
                                    <div class="col-md-6">
                                       <p id="id_cuit">{{ uv.0.field_dict.cuit }}</p>
                                    </div>
                                </div>
                                <!-- Rubro de Usuario -->
                                <div class="form-group">
                                    <label class="col-md-5" style="text-align:left"
                                      for="id_usuario__rubro">
                                        Rubro
                                    </label>
                                    <div class="col-md-6">
                                       <p id="id_rubro">{{ uv.0.field_dict.rubro }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
                            </br>
                            <div id="plantilla" class="col-md-12">
                                <label class="col-md-2" style="text-align:left"
                                     for="id_asistencia">Asistencia</label>
                                <div class="col-md-1">
                                    {{ form.asistencia|disable }}
                                </div>
                                <label class="col-md-2" style="text-align:left"
                                     for="id_calibracion">Calibración</label>
                                <div class="col-md-1">
                                    {{ form.calibracion|disable }}
                                </div>
                                <label class="col-md-2" style="text-align:left"
                                     for="id_in_situ">In Situ</label>
                                <div class="col-md-1">
                                    {{ form.in_situ|disable }}
                                </div>
                                <label class="col-md-2" style="text-align:left"
                                     for="id_lia">LIA</label>
                                <div class="col-md-1">
                                    {{ form.lia|disable }}
                                </div>
                            </div>
                            </br>
                            </br>
                            <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                                <h3 class="text-danger">Oferta Tecnológica</h3>
                                <div class="col-md-12">
                                    <table id="ofertatec_table" class="table">
                                        <thead>
                                            <td>Código</td>
                                            <td>Detalle</td>
                                            <td>Tipo de Servicio</td>
                                            <td>Cantidad</td>
                                            <td>Observaciones</td>
                                            <td>Horas</td>
                                            <td>Precio Unitario</td>
                                        </thead>
                                        <tbody>
                                            {% for ot in otList %}
                                                <tr>
                                                    <td>{{ ot.field_dict.ofertatec }}</td>
                                                    <td>{{ ot.field_dict.detalle}}</td>
                                                    <td>{{ ot.field_dict.tipo_servicio}}</td>
                                                    <td>{{ ot.field_dict.cantidad }}</td>
                                                    <td>{{ ot.field_dict.observaciones }}</td>
                                                    <td>{{ ot.field_dict.cant_horas | default_if_none:""}}</td>
                                                    <td>{{ ot.field_dict.precio }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% url 'adm:presup-list' as action_url %}
{% include "intiSoft/modals.html" with postUrl=action_url %}
{% include "adm/modals.html" %}
{% endblock %}


