{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.formset.js' %}"></script>
    <script>
        $(function() {
            function renewDatePickers() {
                $(".datepicker").datepicker("destroy");
                $(".datepicker").datepicker({"maxDate": '0'});
            }

            $(".datepicker").datepicker("option", "maxDate", '0');

            $(".inline.{{ instrumento_linea_form.prefix }}").formset({
                prefix: "{{ instrumento_linea_form.prefix }}",
                added: renewDatePickers,
            });

            {% if object %}
            $.ajax({
                url: domain + '/recent_activity/',
                method: 'get',
                data: {
                        'content_type_id': 10,
                        'object_id': {{ object.id }}
                },
                success:
                    function(data) {
                        $('#recent_activity_table').html(data);
                    },
            });
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="row">
    <div class="col-md-offset-3 col-md-9">
        <div class="btn-group" role="group" aria-label="..." style="float:right">
            {% for choice in form.estado.field.choices %}
                <button class="btn btn-default state {% if form.estado.value == choice.0 %}active{% endif %}">
                    {{ choice.1 }}
                </button>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div id="recent_activity_table" class="col-md-offset-1 col-md-10">
    </div>
</div>
<div class="row">
    {% if object.estado == 'borrador' %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-warning">
            <h3>Cuidado!</h3>
            <p>Una vez seteada la <b>Fecha de Aceptación</b> el presupuesto pasará a estado <b>Aceptado</b>
            y sólo quedarán editables los campos <b>Llegada del Instrumento</b> y <b>Fecha de Realización</b></p>
        </div>
    {% endif %}
    {% if object.revisionar %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-warning">
            <h3>El presupuesto debe ser revisionado.</h3>
            <p>
                Para generar una nueva revisión del presupuesto: </br></br>
                <b>1.</b> Presione Editar. </br>
                <b>2.</b> Vaya a Acciones -> Revisionar. </br>
                <b>3.</b> Modifique el presupuesto y luego presione Guardar.
            </p>
        </div>
    {% endif %}
    {% if form.errors or instrumento_linea_form.errors %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-danger">
            <h3>Error!</h3>
            <strong> Hay problemas con los siguientes campos: </strong><br/>
            <ul>
            {% for error in form.errors %}
                <li>{% get_verbose_name form.instance error %}</li>
            {% endfor %}
            {% for form in instrumento_linea_form.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <!-- Solo muestro las acciones disponibles si el presupuesto ya fue guardado -->
        {% if object %}
            {% if form.instance.estado in "['borrador', 'aceptado']" %}
                {% if revision %}
                    <div class="col-md-2">
                        <input id="save" type="submit" value="Guardar" class="btn btn-danger" form="presupForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="cancel btn btn-default" href="#" onclick="rollBackPresupuesto()">
                            Cancelar
                        </a>
                    </div>
                {% elif edit %}
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" class="btn btn-danger" form="presupForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="cancel btn btn-default" href="{% url 'adm:presup-update' object.id %}">
                            Cancelar
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-2">
                        <input type="submit" value="Editar"
                                {% if 'adm.change_presupuesto' not in user.get_all_permissions %}
                                disabled
                                {% endif %}
                                class="btn btn-danger" form="presupForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="btn btn-default" href="{{ back_url }}">
                            Volver
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-md-2" style="padding-left: 0px">
                    <a class="btn btn-default" href="{{ back_url }}">
                        Volver
                    </a>
                </div>
            {% endif %}
            <div class="btn-group col-md-2">
                <button type="button" class="btn btn-default dropdown-toggle
                                         {% if not edit %} disabled {% endif %}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if 'adm.delete_presupuesto' in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="presupuesto" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar Presupuesto</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.cancel_presupuesto' in user.get_all_permissions and object.estado in "['borrador', 'aceptado', 'en_proces_de_facturacion']" %}
                    <li>
                        <a href="#" data-action="Cancelar" data-model="presupuesto" data-id={{object.id}}
                           data-toggle="modal" data-target="#textBoxModal">Cancelar Presupuesto</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.add_presupuesto' in user.get_all_permissions %}
                    <li>
                        <a id="viewWord" href="" data-id="{{object.id}}">Generar Presupuesto</a>
                    </li>
                    {% endif %}
                    {% if object.estado in "['borrador', 'aceptado']" and object.fecha_realizado %}
                    <li>
                        <a href="#" data-action="Revisionar" data-model="presupuesto" data-id={{object.id}}
                           data-toggle="modal" data-target="#revWarning">Revisionar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-2">
                <input type="submit" value="Guardar" class="btn btn-danger" form="presupForm">
            </div>
            <div class="col-md-2" style="padding-left: 0px">
                <a class="btn btn-default" href="{{ back_url }}">
                    Volver
                </a>
            </div>
        {% endif %}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <label id="title" for="id_codigo" class="col-md-3 text-danger" style="text-align:left">Presupuesto</label>
            <div class="col-md-6" style="padding-left: 0px;">
                {% if edit %}
                    {{ form.codigo }}
                    {% for error in form.codigo.errors %}
                       <div class="alert alert-error">
                           <strong>{{ error|escape }}</strong>
                       </div>
                   {% endfor %}
               {% else %}
                   {{ form.codigo | disable }}
               {% endif %}
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" >
                <a href="#{{ object.nro_revision }}" aria-controls="{{ object.nro_revision }}" role="tab" data-toggle="tab">
                    REV{{ object.nro_revision }}
                </a>
            </li>
            {% for pv, tv, uv, ov in presupVersions %}
                <li role="presentation">
                    <a href="#{{ pv.revision.comment }}" aria-controls="{{ pv.revision.comment }}" role="tab" data-toggle="tab">
                        {{ pv.revision.comment | revName }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="{{ object.nro_revision }}">
                <div class="col-md-12">
                    <form id="presupForm" class="form-horizontal" action="" method="{% if edit %}POST{% else %}GET{% endif %}">
                        {% if edit %}
                            {% csrf_token %}
                        {% else %}
                            <input name="edit" type="hidden" value="1">
                        {% endif %}
                        </br>
                        <div id="plantilla" class="col-md-12">
                            <label class="col-md-2" style="text-align:left"
                             for="id_tipo">Tipo de Presupuesto</label>
                            <div class="col-md-2">
                                {% if edit %}
                                    {{ form.tipo }}
                                    {% for error in form.tipo.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                {% else %}
                                    {{ form.tipo|disable }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- Separador -->
                        <div class="col-md-12" style="border-top: 1.5px solid #eee;margin:15px"></div>
                        <div class="col-md-6">
                            <h3 class="text-danger">Presupuesto</h3>
                            <!-- Estado del Presupuesto -->
                            {%if edit %}
                                {{ form.estado.as_hidden }}
                            {% else %}
                                {{ form.estado.value.as_hidden }}
                            {% endif %}
                            <!-- Nro Revision -->
                            {% if edit %}
                               {{ form.nro_revision.as_hidden }}
                           {% else %}
                               {{ form.nro_revision.value.as_hidden }}
                           {% endif %}
                            <!-- Revisionar -->
                            {% if edit %}
                               {{ form.revisionar.as_hidden }}
                           {% else %}
                               {{ form.revisionar.value.as_hidden }}
                           {% endif %}
                            <!-- PDT -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                 for="id_pdt">
                                    Plan de Trabajo
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.pdt }}
                                        {% for error in form.pdt.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.pdt | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Solicitud -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                 for="id_fecha_solicitud">
                                    Fecha de Solicitud
                                </label>
                                <div class="col-md-6">
                                   {% if edit %}
                                       {{ form.fecha_solicitado }}
                                       {% for error in form.fecha_solicitado.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                   {% else %}
                                       {{ form.fecha_solicitado.value | default_if_none:"" }}
                                   {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Realizacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_fecha_realizado">
                                    Fecha de Realización
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_realizado }}
                                        {% for error in form.fecha_realizado.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_realizado.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Aceptacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_fecha_aceptado">
                                    Fecha de Aceptación
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_aceptado }}
                                        {% for error in form.fecha_aceptado.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_aceptado.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-danger">Usuario</h3>
                            <!-- Usuario -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_usuario">
                                      Usuario
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.usuario }}
                                        {% for error in form.usuario.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.usuario.nombre }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Numero de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__nro_usuario">
                                    Número
                                </label>
                                <div class="col-md-7">
                                   <p id="id_nro_usuario">{{ form.instance.usuario.nro_usuario }}</p>
                                </div>
                            </div>
                            <!-- Cuit de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__cuit">
                                    Cuit
                                </label>
                                <div class="col-md-7">
                                   <p id="id_cuit">{{ form.instance.usuario.cuit }}</p>
                                </div>
                            </div>
                            <!-- Rubro de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__rubro">
                                    Rubro
                                </label>
                                <div class="col-md-7">
                                   <p id="id_rubro">{{ form.instance.usuario.rubro }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Separador -->
                        <div class="col-md-12" style="border-top: 1.5px solid #eee; margin:15px"></div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h3 class="text-danger">Turnos</h3>
                                <table id="turnos_table" class="table">
                                    <thead>
                                        <td>Fecha de Inicio</td>
                                        <td>Fecha de Fin</td>
                                        <td>Area</td>
                                    </thead>
                                    <tbody>
                                        {% for t in object.get_turnos_activos %}
                                            <tr class=
                                                  {% if t.estado == 'en_espera' %} "neutral"
                                                      {% elif t.estado == 'activo' %} "warning "
                                                      {% elif t.estado == 'finalizado' %} "success"
                                                      {% elif t.estado == 'cancelado' %} "danger"
                                                  {% endif %}
                                            >
                                                <td>{{ t.fecha_inicio | default_if_none:"-" }}</td>
                                                <td>{{ t.fecha_fin | default_if_none:"-" }}</td>
                                                <td>{{ t.area }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-danger">Instrumentos</h3>
                                {% if edit %}
                                    {{ instrumento_linea_form.management_form }}
                                    {{ instrumento_linea_form.non_form_errors }}
                                {% endif %}
                                <table id="instrumento_formtable" class="table">

                                    <thead>
                                        <td>Llegada del instrumento</td>
                                        <td>Recibo de recepcion</td>
                                    </thead>
                                    <tbody>
                                        {% for formInstrumento in instrumento_linea_form %}
                                            {% if edit %}
                                                {{ formInstrumento.id }}
                                            {% endif %}
                                            <tr {% if form.instance.estado in "['borrador', 'aceptado']" %}
                                                class="inline {{ instrumento_linea_form.prefix }}"
                                                {% endif %}>
                                                <td>
                                                    {% if edit %}
                                                        {{ formInstrumento.fecha_llegada }} {{ formInstrumento.fecha_llegada.errors }}
                                                    {% else %}
                                                        {{ formInstrumento.instance.fecha_llegada | default_if_none:"" }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if edit %}
                                                        {{ formInstrumento.nro_recepcion }} {{ formInstrumento.nro_recepcion.errors }}
                                                    {% else %}
                                                        {{ formInstrumento.instance.nro_recepcion }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if edit and form.instance.estado == 'borrador' %}
                                                        {% if formInstrumento.instance.pk %}
                                                            {{ formInstrumento.DELETE }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                {% if formInstrumento.errors %}
                                                    {% for error in formInstrumento.non_field_errors %}
                                                        <div class="alert alert-error">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12" style="border-top: 1.5px solid #eee; margin:15px"></div>
                        <h3 class="text-danger">Oferta Tecnológica</h3>
                        <a class="btn btn-default
                            {% if not edit or form.instance.estado not in "['borrador', 'aceptado']" %}
                                disabled
                            {% endif %}"
                            id="actBtn" data-action="Actualizar"
                            data-model="presupuesto" data-id={{object.id}}
                            data-toggle="modal" data-target="#myModal"
                            >Actualizar Precios
                        </a>
                        <div class="col-md-12">
                            <table id="ofertatec_table" class="table">
                                <thead>
                                    <td>Código</td>
                                    <td>Detalle</td>
                                    <td>Tipo de Servicio</td>
                                    <td>Cantidad</td>
                                    <td>Observaciones</td>
                                    <td>Horas</td>
                                    <td>Precio Unitario</td>
                                    <td>Precio Total</td>
                                </thead>
                                <tbody>
                                    {% for t in turnos_activos %}
                                        {% for o in t.ofertatec_linea_set.all %}
                                            <tr>
                                                <td>{{ o.codigo }}</td>
                                                <td>{{ o.detalle}}</td>
                                                <td>{{ o.tipo_servicio}}</td>
                                                <td>{{ o.cantidad }}</td>
                                                <td>{{ o.observaciones }}</td>
                                                <td>{{ o.cant_horas | default_if_none:""}}</td>
                                                <td>{{ o.precio }}</td>
                                                <td>{{ o.precio_total }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            {% for pv, tActv, uv, otList, instrList, pdt in presupVersions %}
            <div role="tabpanel" class="tab-pane" id="{{ pv.revision.comment }}">
                <div class="col-md-12">
                    <form class="form-horizontal" action="" method="">
                        </br>
                        <div id="plantilla" class="col-md-12">
                            <label class="col-md-2" style="text-align:left"
                             for="id_tipo">Tipo de Presupuesto</label>
                            <div class="col-md-2">
                                {% if edit %}
                                    {{ form.tipo }}
                                    {% for error in form.tipo.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                                {% else %}
                                    {{ form.tipo|disable }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- Separador -->
                        <div class="col-md-12" style="border-top: 1.5px solid #eee;margin:15px"></div>
                        <div class="col-md-6">
                            <h3 class="text-danger">Presupuesto</h3>
                            <!-- PDT -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                 for="id_pdt">
                                    Plan de Trabajo
                                </label>
                                <div class="col-md-7">
                                    {{ pdt.0.field_dict.nombre }}
                                </div>
                            </div>
                            <!-- Fecha de Solicitud -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                 for="id_fecha_solicitud">
                                    Fecha de Solicitud
                                </label>
                                <div class="col-md-7">
                                   {{ pv.field_dict.fecha_solicitado | default_if_none:"" }}
                                </div>
                            </div>
                             <!-- Fecha de Realizacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_fecha_realizado">
                                    Fecha de Realización
                                </label>
                                <div class="col-md-7">
                                    {{ pv.field_dict.fecha_realizado | default_if_none:"" }}
                                </div>
                            </div>
                            <!-- Fecha de Aceptacion -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_fecha_aceptado">
                                    Fecha de Aceptación
                                </label>
                                <div class="col-md-7">
                                    {{ pv.field_dict.fecha_aceptado | default_if_none:"" }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-danger">Usuario</h3>
                            <!-- Usuario -->
                            <div class="form-group">
                                <label class="control-label col-md-5" style="text-align:left"
                                  for="id_usuario">
                                      Usuario
                                </label>
                                <div class="col-md-7">
                                    {{ uv.0.field_dict.nombre }}
                                </div>
                            </div>
                            <!-- Numero de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__nro_usuario">
                                    Número
                                </label>
                                <div class="col-md-7">
                                   <p id="id_nro_usuario">
                                       {{ uv.0.field_dict.nro_usuario }}
                                   </p>
                                </div>
                            </div>
                            <!-- Cuit de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__cuit">
                                    Cuit
                                </label>
                                <div class="col-md-7">
                                   <p id="id_cuit">{{ uv.0.field_dict.cuit }}</p>
                                </div>
                            </div>
                            <!-- Rubro de Usuario -->
                            <div class="form-group">
                                <label class="col-md-5" style="text-align:left"
                                  for="id_usuario__rubro">
                                    Rubro
                                </label>
                                <div class="col-md-7">
                                   <p id="id_rubro">{{ uv.0.field_dict.rubro }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Separador -->
                        <div class="col-md-12" style="border-top: 1.5px solid #eee; margin:15px"></div>
                        <div class="col-md-12">
                                <div class="col-md-6">
                                    <h3 class="text-danger">Turnos</h3>
                                    <table id="turnos_table" class="table">
                                        <thead>
                                            <td>Fecha de Inicio</td>
                                            <td>Fecha de Fin</td>
                                            <td>Area</td>
                                        </thead>
                                        <tbody>
                                            {% for t in object.get_turnos_activos %}
                                                <tr class=
                                                      {% if t.estado == 'en_espera' %} "neutral"
                                                          {% elif t.estado == 'activo' %} "warning "
                                                          {% elif t.estado == 'finalizado' %} "success"
                                                          {% elif t.estado == 'cancelado' %} "danger"
                                                      {% endif %}
                                                >
                                                    <td>{{ t.fecha_inicio }}</td>
                                                    <td>{{ t.fecha_fin }}</td>
                                                    <td>{{ t.area }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="text-danger">Instrumentos</h3>
                                    <table id="instrumento_formtable" class="table">
                                        <thead>
                                            <td>Llegada del instrumento</td>
                                            <td>Recibo de recepcion</td>
                                        </thead>
                                        <tbody>
                                            {% for instr in instrList %}
                                                <tr>
                                                    <td>
                                                        {{ instr.field_dict.fecha_llegada | default_if_none:"" }}
                                                    </td>
                                                    <td>
                                                        {{ instr.field_dict.nro_recepcion | default_if_none:"" }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <div class="col-md-12" style="border-top: 1.5px solid #eee; margin:15px"></div>
                        <h3 class="text-danger">Oferta Tecnológica</h3>
                        <div class="col-md-12">
                            <table id="ofertatec_table" class="table">
                                <thead>
                                    <td>Código</td>
                                    <td>Detalle</td>
                                    <td>Tipo de Servicio</td>
                                    <td>Cantidad</td>
                                    <td>Observaciones</td>
                                    <td>Horas</td>
                                    <td>Precio Unitario</td>
                                    <td>Precio Total</td>
                                </thead>
                                <tbody>
                                    {% for o in otList %}
                                        <tr>
                                            <td>{{ o.field_dict.codigo }}</td>
                                            <td>{{ o.field_dict.detalle}}</td>
                                            <td>{{ o.field_dict.tipo_servicio}}</td>
                                            <td>{{ o.field_dict.cantidad }}</td>
                                            <td>{{ o.field_dict.observaciones }}</td>
                                            <td>{{ o.field_dict.cant_horas | default_if_none:""}}</td>
                                            <td>{{ o.field_dict.precio }}</td>
                                            <td>{{ o.field_dict.precio_total }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% url 'adm:presup-list' as action_url %}
{% include "intiSoft/modals.html" with postUrl=action_url %}
{% include "adm/modals.html" %}
{% endblock %}


