{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.formset.js' %}"></script>
    <script>
        $(function() {
            //$(".datepicker").datepicker("option", "maxDate", '0');
            //$(".datepicker#id_fecha_prevista").datepicker("option", "maxDate", '');
            //$(".datepicker#id_fecha_prevista").datepicker("option", "minDate", '0');
            $(".datepicker").datepicker();
        });

        $(function() {
            $(".inline.{{ ot_linea_form.prefix }}").formset({
                prefix: "{{ ot_linea_form.prefix }}",
            });
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="col-md-offset-3 col-md-9">
    <div class="btn-group" role="group" aria-label="..." style="float:right">
        {% for choice in form.estado.field.choices %}
            <button class="btn btn-default state {% if form.estado.value == choice.0 %}active{% endif %}">
                {{ choice.1 }}
            </button>
        {% endfor %}
    </div>
</div>
<div class="row">
    {% if object.estado == 'borrador' %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-warning">
            <h3>Cuidado!</h3>
            <p>Una vez seteada la <b>Fecha de Envio a UT</b> la RUT pasará a estado <b>Pendiente</b>
            y sólo quedarán editables los campos <b>Retorno Firmada</b> y <b>Fecha de Envio a CC</b></p>
        </div>
    {% endif %}
    {% if form.errors or ot_linea_form.errors %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-danger">
            <h3>Error!</h3>
            <strong> Hay problemas con los siguientes campos: </strong><br/>
            <ul>
            {% for error in form.errors %}
                <li>{% get_verbose_name form.instance error %}</li>
            {% endfor %}
            {% for form in ot_linea_form.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <!-- Solo muestro las acciones disponibles si la ot ya fue guardada -->
        {% if object %}
            {% if form.instance.estado not in "['cancelada', 'cobrada']" %}
                {% if edit %}
                    <div class="col-md-2">
                        <input type="submit" value="Guardar" class="btn btn-danger" form="RUTForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="cancel btn btn-default" href="{% url 'adm:rut-update' object.id %}">
                            Cancelar
                        </a>
                    </div>
                {% else %}
                    <div class="col-md-2">
                        <input type="submit" value="Editar"
                            {% if 'Administracion' not in userGroups and object.get_area not in userGroups or 'adm.change_rut' not in user.get_all_permissions %}
                            disabled
                            {% endif %}
                            class="btn btn-danger" form="RUTForm">
                    </div>
                    <div class="col-md-2" style="padding-left: 0px">
                        <a class="btn btn-default" href="{{ back_url }}">
                            Volver
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-md-2" style="padding-left: 0px">
                    <a class="btn btn-default" href="{{ back_url }}">
                        Volver
                    </a>
                </div>
            {% endif %}
            <div class="btn-group col-md-2"">
                <button type="button" class="btn btn-default dropdown-toggle
                                            {% if not edit %} disabled {% endif %}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if 'adm.delete_rut' in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="RUT" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar RUT</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.finish_rut' in user.get_all_permissions and object.estado = 'pendiente' %}
                    <li>
                        <a href="#" data-action="Finalizar" data-model="RUT" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Finalizar RUT</a>
                    </li>
                    {% endif %}
                    {% if 'adm.cancel_rut' in user.get_all_permissions and object.estado not in "['cobrada', 'cancelada']" %}
                    <li>
                        <a href="#" data-action="Cancelar" data-model="RUT" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Cancelar RUT</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider" />
                    {% if 'adm.add_rut' in user.get_all_permissions %}
                        <li>
                            <a id="viewRUT" href="{% url 'adm:rut-viewRUT' object.id %}" data-id="{{object.id}}">Generar RUT</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-2">
                <input type="submit" value="Guardar" class="btn btn-danger" form="RUTForm">
            </div>
            <div class="col-md-2" style="padding-left: 0px">
                <a class="btn btn-default" href="{{ back_url }}">
                    Volver
                </a>
            </div>
        {% endif %}
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <label id="title" for="id_codigo" class="col-md-1 text-danger" style="text-align:left">RUT</label>
            <div class="col-md-2">
                {% if edit %}
                    {{ form.codigo }}
                    {% for error in form.codigo.errors %}
                       <div class="alert alert-error">
                           <strong>{{ error|escape }}</strong>
                       </div>
                    {% endfor %}
                {% else %}
                    {{ form.codigo | disable }}
                {% endif %}
           </div>
        </div>

        <!-- Separador -->
        <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
        <div class="col-md-12">
            <form id="RUTForm" class="form-horizontal" action="" method="{% if edit %}POST{% else %}GET{% endif %}">
                {% if edit %}
                    {% csrf_token %}
                {% else %}
                    <input name="edit" type="hidden" value="1">
                {% endif %}
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Estado de la RUT -->
                        {% if edit %}
                            {{ form.estado.as_hidden }}
                        {% else %}
                            {{ form.estado.value.as_hidden }}
                        {% endif %}
                        <div class="col-md-12">
                            <h3 class="text-danger">RUT</h3>
                        </div>
                        <div class="col-md-12">
                            <!-- PDT -->
                            <div class="form-group">
                                <label class="control-label col-md-2" style="text-align:left"
                                 for="id_pdt">
                                    Plan de Trabajo
                                </label>
                                <div class="col-md-3">
                                    {% if edit %}
                                        {{ form.pdt }}
                                        {% for error in form.pdt.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.pdt | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Fecha de Realizacion -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                 for="id_fecha_realizado">
                                    Fecha de Realizacion
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_realizado }}
                                        {% for error in form.fecha_realizado.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_realizado.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Presupuesto -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                 for="id_presupuesto"> Presupuesto </label>
                                 <div class="col-md-6">
                                     {% if edit %}
                                         {{ form.presupuesto }}
                                         {% for error in form.presupuesto.errors %}
                                             <div class="alert alert-error">
                                                 <strong>{{ error|escape }}</strong>
                                             </div>
                                         {% endfor %}
                                     {% else %}
                                         {{ form.instance.presupuesto.codigo }}
                                     {% endif %}
                                 </div>
                            </div>
                            <!-- UT Deudora -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                 for="id_deudor">
                                    UT Deudora
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.deudor }}
                                        {% for error in form.deudor.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.deudor.nombre }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- UT Ejecutora -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                 for="id_ejecutora">
                                    UT Ejecutora
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.ejecutor }}
                                        {% for error in form.ejecutor.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.ejecutor.nombre }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Area Solicitante -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                 for="id_solicitante">
                                    Area Solicitante
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.solicitante }}
                                        {% for error in form.solicitante.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.solicitante.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Fecha de Prevista -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                 for="id_fecha_prevista">
                                    Fecha Prevista
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_prevista }}
                                        {% for error in form.fecha_prevista.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.fecha_prevista.value | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Envio a UT -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                  for="id_fecha_envio_ut">
                                      Fecha Envio a UT
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_envio_ut }}
                                        {% for error in form.fecha_envio_ut.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.fecha_envio_ut | default_if_none:"" }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Retorno firmada -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                  for="id_firmada">
                                      Retorno Firmada
                                </label>
                                <div class="col-md-1">
                                    {% if edit %}
                                        {{ form.firmada }}
                                        {% for error in form.firmada.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.firmada | disable }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Fecha de Envio a CC -->
                            <div class="form-group">
                                <label class="control-label col-md-4" style="text-align:left"
                                  for="id_fecha_envio_cc">
                                      Fecha Envio a CC
                                </label>
                                <div class="col-md-6">
                                    {% if edit %}
                                        {{ form.fecha_envio_cc }}
                                        {% for error in form.fecha_envio_cc.errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.instance.fecha_envio_cc | default_if_none:""  }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Separador -->
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                <!-- Separador -->
                <div class="col-md-12">
                    <h3 class="text-danger">Oferta Tecnológica</h3>
                    {% if edit %}
                        {{ ot_linea_form.management_form }}
                        {{ ot_linea_form.non_form_errors }}
                    {% endif %}
                    <table id="ofertatec_formtable" class="table">
                    <col style="width:20%">
<!--
                        <col style="width:30%">
                        <col style="width:20%">
                        <col style="width:5%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
-->
                        <thead>
                            <td>Código</td>
                            <td style="display:none">Detalle</td>
                            <td>Tipo De Servicio</td>
                            <td>Cantidad</td>
                            <td>Horas</td>
                            <td>Precio Unitario</td>
                            <td>Precio Total</td>
                            <td>Observaciones</td>
                        </thead>
                        <tbody>
                            {% for formOt in ot_linea_form %}
                                {% if edit %}
                                    {{ formOt.id }}
                                {% endif %}
                                <tr {% if form.instance.estado == 'borrador' %}
                                    class="inline {{ ot_linea_form.prefix }}"
                                    {% endif %}>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.ofertatec }} {{ formOt.ofertatec.errors }}
                                        {% else %}
                                            {{ formOt.instance.ofertatec.codigo }}
                                        {% endif %}
                                    </td>
                                    <td style="display:none">
                                        {% if edit %}
                                            {{ formOt.codigo }} {{ formOt.codigo.errors }}
                                        {% else %}
                                            {{ formOt.instance.codigo}}
                                        {% endif %}
                                    </td>
                                    <td style="display:none">
                                        {% if edit %}
                                            {{ formOt.detalle }} {{ formOt.detalle.errors }}
                                        {% else %}
                                            {{ formOt.instance.detalle }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.tipo_servicio }} {{ formOt.tipo_servicio.errors }}
                                        {% else %}
                                            {{ formOt.instance.tipo_servicio | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.cantidad }} {{ formOt.cantidad.errors }}
                                        {% else %}
                                            {{ formOt.instance.cantidad }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.cant_horas }} {{ formOt.cant_horas.errors }}
                                        {% else %}
                                            {{ formOt.instance.cant_horas | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.precio }} {{ formOt.precio.errors }}
                                        {% else %}
                                            {{ formOt.instance.precio | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.precio_total }} {{ formOt.precio_total.errors }}
                                        {% else %}
                                            {{ formOt.instance.precio_total | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formOt.observaciones }} {{ formOt.observaciones.errors }}
                                        {% else %}
                                            {{ formOt.instance.observaciones }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit and form.instance.estado == 'borrador' %}
                                            {% if formOt.instance.pk %}
                                                {{ formOt.DELETE }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
<!--
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
-->
                <!-- Importe Bruto -->
                <div class="col-md-5" style="float:right">
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                          for="id_importe_bruto">
                            Importe Bruto
                        </label>
                        <div class="col-md-5">
                            <div class="input-group" style="z-index:0">
                                {% if edit %}
                                    <div class="input-group-addon">$</div>
                                   {{ form.importe_bruto }}
                                   {% for error in form.importe_bruto.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                               {% else %}
                                   $
                                   {{ form.importe_bruto.value | floatformat }}
                               {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                          for="id_descuento">
                            Descuento
                        </label>
                        <div class="col-md-5">
                            <div class="input-group" style="z-index:0">
                                {% if edit %}
                                    <div class="input-group-addon">$</div>
                                   {{ form.descuento }}
                                   {% for error in form.descuento.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                               {% else %}
                                   $
                                   {{ form.descuento.value | floatformat }}
                               {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                          for="id_importe_neto">
                            Importe Neto
                        </label>
                        <div class="col-md-5">
                            <div class="input-group" style="z-index:0">
                                {% if edit %}
                                    <div class="input-group-addon">$</div>
                                   {{ form.importe_neto }}
                                   {% for error in form.importe_neto.errors %}
                                       <div class="alert alert-error">
                                           <strong>{{ error|escape }}</strong>
                                       </div>
                                   {% endfor %}
                               {% else %}
                                   $
                                   {{ form.importe_neto.value | floatformat }}
                               {% endif %}
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" id="btnImporteNeto"
                            {% if not edit %}disabled="disabled"{% endif %}>
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </button>
                    </div>
                    <br/>
                    <br/>
                </div>
                <div class="col-md-12" style="border-top: 1.5px solid #eee"></div>
                </br>
                </br>
                {% if edit %}
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-error">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% url 'adm:rut-list' as action_url %}
{% include "intiSoft/modals.html" with postUrl=action_url %}
{% endblock %}