{% extends "intiSoft/base.html" %}

{% block head %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'intiSoft/js/jquery.formset.js' %}"></script>
    <script>
        $(function() {

            function renewSelects(e) {
                $("[id^=id_][id$=provincia]").on('change', onChangeProvincia);
            }

            $(".inline.{{ contacto_linea_form.prefix }}").formset({
                prefix: "{{ contacto_linea_form.prefix }}",
            });

            $(".inline.{{ direccion_linea_form.prefix }}").formset({
                prefix: "{{ direccion_linea_form.prefix }}",
                added: renewSelects,
                keepFieldValues: "[id^=id_][id$=provincia], [id^=id_][id$=localidad]",
            });

            function onChangeProvincia() {
                var splitted_id = this.id.split("-");
                splitted_id[splitted_id.length-1] = 'localidad';
                var localidad_id = '#'.concat(splitted_id.join("-"));

                // Actualizo las localidades de la provincia seleccionada
                var url = $("#usuarioForm").attr("data-localidades-url");
                var provinciaId = $(this).val();

                $.ajax({
                    url: url,
                    data: { 'provincia': provinciaId },
                    success: function(data) {
                                $(localidad_id).html(data);
                    }
                });

                $("#id_localidad").trigger('change');
            }

            $("[id^=id_][id$=provincia]").on('change', onChangeProvincia);
        });
    </script>
{% endblock %}

{% block content %}
{% load intiSoft_filters %}
<div class="row">
    {% if form.errors %}
        <div class="col-md-offset-1 col-md-10 bs-callout bs-callout-danger">
            <h3>Error!</h3>
            <strong> Hay problemas con los siguientes campos: </strong><br/>
            <ul>
            {% for key, errors in form.errors.items %}
                {% if key == '__all__' %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% else %}
                    <li>{% get_verbose_name form.instance key %}
                {% endif %}
            {% endfor %}
            {% for form in contacto_linea_form.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            {% for form in direccion_linea_form.forms %}
                {% for error in form.errors %}
                    <li>{% get_verbose_name form.instance error %}({{forloop.parentloop.counter}})</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<br/>
<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <!-- Solo muestro las acciones disponibles si el presupuesto ya fue guardado -->
        {% if object %}
            {% if edit %}
                <div class="col-md-2">
                    <input type="submit" value="Guardar" class="btn btn-danger" form="usuarioForm">
                </div>
                <div class="col-md-2" style="padding-left: 0px">
                    <a class="cancel btn btn-default" href="{% url 'adm:usuarios-update' object.id %}">
                        Cancelar
                    </a>
                </div>
            {% else %}
                <div class="col-md-2">
                    <input type="submit" value="Editar" class="btn btn-danger" form="usuarioForm">
                </div>
                <div class="col-md-2" style="padding-left: 0px">
                    <a class="btn btn-default" href="{{ back_url }}">
                        Volver
                    </a>
                </div>
            {% endif %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if 'adm.delete_usuario' in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="usuario" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar Usuario</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-2">
                <input type="submit" value="Guardar" class="btn btn-danger" form="usuarioForm">
            </div>
            <div class="col-md-2" style="padding-left: 0px">
                <a class="btn btn-default" href="{{ back_url }}">
                    Volver
                </a>
            </div>
        {% endif %}
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <h2 class="text-danger">{{ form.nombre.value | default_if_none:"" }}</h2>
        </div>
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
        <form id="usuarioForm" class="form-horizontal" style="padding-top:5%" action=""
              method="{% if edit %}POST{% else %}GET{% endif %}" data-localidades-url="{% url 'adm:ajax_load_localidades' %}">
            <div class="col-md-12">
                {% if edit %}
                    {% csrf_token %}
                {% else %}
                    <input name="edit" type="hidden" value="1">
                {% endif %}
                <div class="col-md-6">
                    <!-- Nombre -->
                    <div class="form-group">
                        <label class="control-label col-md-4" style="text-align:left"
                         for="id_nombre">
                            Razón Social
                        </label>
                        <div class="col-md-6">
                            {% if edit %}
                                {{ form.nombre }}
                                {% for error in form.nombre.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.nombre.value }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Rubro -->
                    <div class="form-group">
                        <label class="control-label col-md-4" style="text-align:left"
                         for="id_rubro">
                            Rubro
                        </label>
                        <div class="col-md-6">
                            {% if edit %}
                                {{ form.rubro }}
                                {% for error in form.rubro.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.rubro.value }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Mail -->
                    <div class="form-group">
                        <label class="control-label col-md-4" style="text-align:left"
                         for="id_mail">
                            Email
                        </label>
                        <div class="col-md-6">
                            {% if edit %}
                                {{ form.mail }}
                                {% for error in form.mail.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.mail.value }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Nro de usuario -->
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                         for="id_nro_usuario">
                            Número de Usuario
                        </label>
                        <div class="col-md-4">
                            {% if edit %}
                                {{ form.nro_usuario }}
                                {% for error in form.nro_usuario.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.nro_usuario.value }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- CUIT -->
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                         for="id_cuit">
                            Cuit
                        </label>
                        <div class="col-md-4">
                            {% if edit %}
                                {{ form.cuit }}
                                {% for error in form.cuit.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.cuit.value }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Direcciones -->
            <div class="col-md-12">
                <label class="control-label col-md-2" style="text-align:left">Direcciones</label>
                <div class="col-md-10">
                    {% if edit %}
                        {{ direccion_linea_form.management_form }}
                        {{ direccion_linea_form.non_form_errors }}
                    {% endif %}
                    <table id="direccion_formtable" class="table">
                        <thead>
                            <td width="30%">Calle</td>
                            <td width="10%">Número</td>
                            <td width="10%">Piso</td>
                            <td>Provincia</td>
                            <td>Localidad</td>
                        </thead>
                        <tbody>
                            {% for formDireccion in direccion_linea_form %}
                                {% if edit %}
                                    {{ formDireccion.id }}
                                {% endif %}
                                <tr class="inline {{ direccion_linea_form.prefix }}">
                                    <td>
                                        {% if edit %}
                                            {{ formDireccion.calle }} {{ formDireccion.calle.errors }}
                                        {% else %}
                                            {{ formDireccion.instance.calle | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formDireccion.numero }} {{ formDireccion.numero.errors }}
                                        {% else %}
                                            {{ formDireccion.instance.numero | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formDireccion.piso }} {{ formDireccion.piso.errors }}
                                        {% else %}
                                            {{ formDireccion.instance.piso | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formDireccion.provincia }} {{ formDireccion.provincia.errors }}
                                        {% else %}
                                            {{ formDireccion.instance.provincia | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formDireccion.localidad }} {{ formDireccion.localidad.errors }}
                                        {% else %}
                                            {{ formDireccion.instance.localidad | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit  %}
                                            {% if formDireccion.instance.pk %}
                                                {{ formDireccion.DELETE }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    {% if formDireccion.errors %}
                                        {% for error in formDireccion.non_field_errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Contactos -->
            <div class="col-md-12">
                <h2 class="text-danger">Contactos</h2>
                <!-- Separador -->
                <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
                <div class="col-md-10">
                    {% if edit %}
                        {{ contacto_linea_form.management_form }}
                        {{ contacto_linea_form.non_form_errors }}
                    {% endif %}
                    <table id="contacto_formtable" class="table">

                        <thead>
                            <td width="40%">Nombre</td>
                            <td width="20%">Teléfono</td>
                            <td width="40%">Email</td>
                        </thead>
                        <tbody>
                            {% for formContacto in contacto_linea_form %}
                                {% if edit %}
                                    {{ formContacto.id }}
                                {% endif %}
                                <tr class="inline {{ contacto_linea_form.prefix }}">
                                    <td>
                                        {% if edit %}
                                            {{ formContacto.nombre }} {{ formContacto.nombre.errors }}
                                        {% else %}
                                            {{ formContacto.instance.nombre | default_if_none:"" }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formContacto.telefono }} {{ formContacto.telefono.errors }}
                                        {% else %}
                                            {{ formContacto.instance.telefono }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit %}
                                            {{ formContacto.mail }} {{ formContacto.mail.errors }}
                                        {% else %}
                                            {{ formContacto.instance.mail }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if edit  %}
                                            {% if formContacto.instance.pk %}
                                                {{ formContacto.DELETE }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    {% if formContacto.errors %}
                                        {% for error in formContacto.non_field_errors %}
                                            <div class="alert alert-error">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
{% url 'adm:usuarios-list' as action_url %}
{% include "intiSoft/modals.html" with postUrl=action_url %}
{% endblock %}

