{% extends "intiSoft/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <!-- Solo muestro las acciones disponibles si el presupuesto ya fue guardado -->
        {% if object %}
            {% if edit %}
                <div class="col-md-2">
                    <input type="submit" value="Guardar" class="btn btn-danger" form="usuarioForm">
                </div>
                <div class="col-md-2" style="padding-left: 0px">
                    <a class="cancel btn btn-default" href="{% url 'adm:usuarios-update' object.id %}">
                        Cancelar
                    </a>
                </div>
            {% else %}
                <div class="col-md-2">
                    <input type="submit" value="Editar" class="btn btn-danger" form="usuarioForm">
                </div>
                <div class="col-md-2" style="padding-left: 0px">
                    <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}">
                        Volver
                    </a>
                </div>
            {% endif %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    <span class="caret" />
                </button>
                <ul class="dropdown-menu">
                    {% if 'adm.delete_usuario' in user.get_all_permissions %}
                    <li>
                        <a href="#" data-action="Eliminar" data-model="usuario" data-id={{object.id}}
                           data-toggle="modal" data-target="#myModal">Borrar Usuario</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-2">
                <input type="submit" value="Guardar" class="btn btn-danger" form="usuarioForm">
            </div>
            <div class="col-md-2" style="padding-left: 0px">
                <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}">
                    Volver
                </a>
            </div>
        {% endif %}
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 3px solid #eee"/>
        <!-- Titulo -->
        <div class="col-md-12">
            <h2 class="text-danger">{{ form.nombre.value | default_if_none:"" }}</h2>
        </div>
        <!-- Separador -->
        <div class="col-md-12" style="border-top: 1.5px solid #eee"/>
        <div class="col-md-12">
            <form id="usuarioForm" class="form-horizontal" style="padding-top:5%" action="" method="{% if edit %}POST{% else %}GET{% endif %}">
                {% if edit %}
                    {% csrf_token %}
                {% else %}
                    <input name="edit" type="hidden" value="1">
                {% endif %}
                <div class="col-md-6">
                    <!-- Nombre -->
                    <div class="form-group">
                        <label class="control-label col-md-4" style="text-align:left"
                         for="id_nombre">
                            Nombre
                        </label>
                        <div class="col-md-8">
                            {% if edit %}
                                {{ form.nombre }}
                                {% for error in form.nombre.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.nombre.value }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Rubro -->
                    <div class="form-group">
                        <label class="control-label col-md-4" style="text-align:left"
                         for="id_rubro">
                            Rubro
                        </label>
                        <div class="col-md-8">
                            {% if edit %}
                                {{ form.rubro }}
                                {% for error in form.rubro.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.rubro.value }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Mail -->
                    <div class="form-group">
                        <label class="control-label col-md-4" style="text-align:left"
                         for="id_mail">
                            Email
                        </label>
                        <div class="col-md-8">
                            {% if edit %}
                                {{ form.mail }}
                                {% for error in form.mail.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.mail.value }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Nro de usuario -->
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                         for="id_nro_usuario">
                            Número de Usuario
                        </label>
                        <div class="col-md-4">
                            {% if edit %}
                                {{ form.nro_usuario }}
                                {% for error in form.nro_usuario.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.nro_usuario.value }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- CUIT -->
                    <div class="form-group">
                        <label class="control-label col-md-5" style="text-align:left"
                         for="id_cuit">
                            Cuit
                        </label>
                        <div class="col-md-4">
                            {% if edit %}
                                {{ form.cuit }}
                                {% for error in form.cuit.errors %}
                                    <div class="alert alert-error">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.cuit.value }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% url 'adm:usuarios-list' as action_url %}
{% include "intiSoft/modals.html" with postUrl=action_url %}
{% endblock %}

